// Accordion
.wpb-js-composer .vc_general.vc_tta-accordion.vc_tta {
    .vc_tta-panel-title {
        color         : $purple;
        font-weight   : 400;
        text-transform: uppercase;
        line-height   : pxtorem(44px);
        @include font-size(26px);

        > a {
            border: none;
            padding-top: 20px;
            padding-bottom: 14px;

            &:hover {
                .vc_tta-title-text {
                    color: $dark-purple;
                }
            }
        }

        .vc_tta-title-text {
            color: $purple;
        }

        &.vc_tta-controls-icon-position-left {
            > a {
                padding-left: 61px;
            }

            .vc_tta-controls-icon {
                left: 0;
                width : 32px;
                height: 32px;
                font-style: normal;
                border: none;
                font-family: 'icons';
    
                &:before {
                    content    : $icon-circle-chevron-right;
                    color      : $light-gray;
                    display    : block;
                    border     : none;
                    position   : relative;
                    left       : 0;
                    right      : 0;
                    top        : 0;
                    bottom     : 0;
                    line-height: 32px;
                    text-align : center;
                    transform  : rotate(0deg) translate(0, -5%);
                    @include font-size(32px);
                }
            }
        }
    }

    .vc_tta-panel {
        margin-bottom : 1px;
        padding-bottom: 1px;
        border-bottom : 1px solid $light-gray;

        .vc_tta-panel-body {
            border: none;
            padding-top   : 0;
            padding-left  : 61px;
            padding-bottom: 20px;
        }

        .vc_tta-panel-heading {
            border: none;

            &:hover, &:focus {
                background: transparent !important;
            }
        }


        &.vc_active {
            .vc_tta-controls-icon {
                &:before {
                    transform: rotate(90deg) translate(0%,0%);
                }
            }
        }

        ul, ol {
            padding-left: 20px;
        }
    }

    .no-js & {
        .vc_tta-panel-body {
            display: block !important;
        }
    }
}

// FAQ
.vc_toggle {
    margin-bottom : 20px;
    padding-bottom: 20px;
    border-bottom : 1px solid $light-gray;

    &_title  {
        > h4 {
            color         : $purple;
            font-weight   : 400;
            text-transform: uppercase;
            line-height   : pxtorem(44px);
            @include font-size(26px);
            transition: all 0.3s;
        } 
        
        &:hover, &:focus {
            > h4 {
                color: $dark-purple;  
            }
        }
    }

    &.vc_toggle_default.vc_toggle_size_md {
        .vc_toggle_title {
            padding-left: 61px;
        }

        .vc_toggle_content {
            padding-left: 61px;
            margin-bottom: 0;

            p:last-child {
                margin-bottom: 0;
            }
        }

        .vc_toggle_icon {
            width: 32px;
            height: 32px;
            font-style: normal;
            background: transparent;
            border: none;
            // border: 2px solid $light-gray;
            border-radius: 500px;

            &:before {
                content    : $icon-circle-chevron-right;
                font-family: $icomoon-font-family;
                color      : $light-gray;
                display    : block;
                border     : none;
                position   : relative;
                background : transparent;
                left       : 0;
                right      : 0;
                top        : 0;
                bottom     : 0;
                width      : 29px;
                height     : 32px;
                border     : none;
                line-height: 32px;
                text-align : center;
                transition: all .2s ease-in-out;
                transform  : rotate(0deg);
                transform-origin: 50%;
                @include font-size(32px);
            }
    
            &:after {
                display: none;
            }
        }

         // active
        &.vc_toggle_active {
            .vc_toggle_icon {
                &:before {
                    visibility: visible;
                    transform: rotate(90deg);
                }
            }

            .vc_toggle_title > h4 {
                color: $dark-purple;
            }
        }
    }

    ul, ol {
        padding-left: 20px;
    }

    .no-js & {
        &_content {
            display: block !important;
        }
    }
}