.breadcrumbs {
    margin-bottom: 20px;
    font-weight: 600;
    @include font-size(17px);

    &__link {
        color: $dark-gray;
    }

    .single-post & {
        .breadcrumbs__link {
            color: $orange;
        }

        span {
            color: $gray;
        }
    }

    .single-resource & {
        .breadcrumbs__link {
            color: $magenta;

            span {
                color: $gray;
            }
        }

        .tax-divider {
            color: $light-gray;
        }
    }

    .single-event & {
        .breadcrumbs__link {
            color: $purple;
        }

        span {
            color: $gray;
        }

        .tax-divider {
            color: $light-gray;
        }
    }

    #main-content & {
        a {
            text-decoration: none;
        }
    }

    .tax-divider {
        color: $light-gray;
    }
}