// Global button styles
.btn,
.vc_general.vc_btn3, .woocommerce a.button, .woocommerce button.button {
	@include button($magenta, #FFF);

	&--blue,
	&.vc_btn3-color-blue {
		@include button($blue, #FFF)

		&.vc_btn3-style-outline {
			color: $blue;
			border: 2px solid $blue;
			background: transparent;

			&:hover, &:focus {
				color: white;
				background-color: $blue;
			}
		}
	}
	
	&--magenta,
	&.vc_btn3-color-magenta {
		@include button($magenta, #FFF)

		&.vc_btn3-style-outline {
			color: $magenta;
			border: 2px solid $magenta;
			background: transparent;

			&:hover, &:focus {
				color: white;
				background-color: $magenta;
			}
		}
    }
    
	&--orange,
	&.vc_btn3-color-orange {
		@include button($dark-orange, #FFF);

		&.vc_btn3-style-outline {
			color: $dark-orange;
			border: 2px solid $dark-orange;
			background: transparent;

			&:hover, &:focus {
				color: white;
				background-color: $dark-orange;
			}
		}
	}

	&--purple,
	&.vc_btn3-color-purple {
		@include button($purple, #FFF)

		&.vc_btn3-style-outline {
			color: $purple;
			border: 2px solid $purple;
			background: transparent;

			&:hover, &:focus {
				color: white;
				background-color: $purple;
			}
		}
	}

	&--yellow {
		@include button($yellow, #FFF)
	}

	&--light-green {
		@include button($light-green, #FFF)
	}

	&--dark-purple,
	&.vc_btn3-color-dark-purple {
		@include button($dark-purple, #FFF)

		&.vc_btn3-style-outline {
			color: $dark-purple;
			border: 2px solid $dark-purple;
			background: transparent;

			&:hover, &:focus {
				color: white;
				background-color: $dark-purple;
			}
		}
	}

	&--dark-green {
		@include button($dark-green, #FFF)
	}

	&--white {
		@include button(#FFF, $black, #BEC3C6)
    }
    
    &--mail {
        &:before {
            @include icon($icon-mail);
            font-size: 90%;
            margin-right: 15px;
        }
	}
	
	&--outline {

    }
    
    &--small {
        padding: 0 15px;
        @include font-size(10px);
        line-height: pxtorem(24px);
        text-transform: capitalize;
        letter-spacing: 0.25px;
        // font-weight: 400;
        min-width: unset;
        margin-right: 5px;
        margin-bottom: 10px;
    }

	// Non-button buttons
	&--link {
		padding       : 0;
		margin        : 0;
		background    : transparent;
		border        : none;
		text-transform: initial;
		font-weight   : normal;
		color         : $highlight;
	}

	&.search-btn {
		&:after {
			display: none;
			margin: 0;
		}

		&:before {
			@include icon('s');
			margin-right: 10px;
			transition: transform 0.3s;
		}

	}

	&:last-of-type {
		margin-right: 0;		
    }
    
    #main-content & { 
       text-decoration: none;  
    }
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    @extend .btn;
}

// WooCommerce

.woocommerce button.button, .woocommerce a.button {
    // background-color: #ebe9eb;

    // &:hover, &:focus {
    //     background-color: #dad8da;
    // }

    &.alt {
        background-color: $magenta;
    
        &:hover, &:focus {
            background-color: darken($magenta, 15%);
        }
    }
}

.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled] {
    padding: 15px 22px;
    background-color: $gray;
    color: #fff;
}

.woocommerce .actions {
    button.button {
        background-color: $gray;

        &:hover, &:focus {
            background-color: $dark-gray;
        }
    }
}

.woocommerce-message a.button {
    background-color: $gray;

        &:hover, &:focus {
            background-color: $dark-gray;
        }
}

.coupon {
    button.button {
        background-color: $gray;

        &:hover, &:focus {
            background-color: $dark-gray;
        }
    }
 }