// Default - stacked content
// Act as cards for resource listing
// and related posts throughout pages
.card,
.list-item {
    display      : flex;
    flex-wrap    : wrap;
    position     : relative;
    margin-bottom:  16px;

    &__image {
        z-index : 0;
        display: block;
    }

    &__link {
        display    : block;
        width      : 100%;
        padding    : 30px;
        padding-top: 0;
        text-align : center;
        position   : relative;
        background-color: $gray;
    }

    &__label { // category, type, etc.
        color: $orange;
        display: block;
        font-weight: 700;
        @include font-size(15px);

        &--alt {
            color: $gray;
            @include font-size(17px);
        }
    }


    // Post type modifiers
    &--post {
        padding-top   : 30px;
        padding-bottom: 15px;
        border-bottom : 1px solid $stroke;

        > .row {
            flex-grow: 1;
            flex-direction: row-reverse;
        }

        .list-item {
            &__content { // content wrap              

            }

            &__label {
                margin-top: -5px;
                margin-bottom: 10px;
            }

            &__excerpt {
                line-height: pxtorem(20px);
                @include font-size(14px);
            }

            &__title {
                font-weight: 400;
                margin-bottom: 12px;

                > a {
                    color: $dark-purple;

                    &:hover, &:focus {
                        color: lighten( $dark-purple, 12% );
                    }
                }

                @include bp-md {
                    line-height: pxtorem(48px);
                }
            }

            &__meta {
                color: $black;
                text-align: center;
                @include font-size(14px);
            }

            &__image-link {
                display: block;
                margin-bottom: 30px;
                margin-top: 20px;
            }

            &__image {
                width: 100%;
        
                &:before {
                    padding-top: 40%;
                }
            }

            &__date {
                text-align: left;
                line-height: pxtorem(16px);
                margin-top: 8px;
        
                @include bp-md {
                    text-align: center;
                }
            }

            &__authors {
                display: flex;
                align-items: center;
        
                @include bp-md {
                    display: block;
                }
        
                .img-circle {
                    width    : 60px;
                    max-width: 100%;
                    margin   : auto;
 
                    &:before {
                        background: url(../images/default-author.jpg) no-repeat center;
                        background-size: cover;
                    }
        
                    @include bp-md {
                        width: 114px;
                    }
                }
        
                &__images {
                    margin-bottom: 15px;
                }
        
                &__names {
                    margin-bottom: 15px;
                    margin-left: 15px;
                    max-width: 50%;
        
                    @include bp-md {
                        margin-left: 0;
                        margin-bottom: 0;
                        max-width: 100%;
                    }
        
                    p {
                        margin-bottom: 0;
                        line-height: pxtorem(20px);
                        font-weight: bold;
                    }
                }
        
                &--multi {
                    .list-item__authors__images {
                        
                    }
        
                    .img-circle {
                        display: inline-block;
        
                        @include bp-md {
                            width: 60px;
                        }

                        &:first-child {
                            transform: translateX(7px);
                        }
        
                        &:last-child {
                            transform: translateX(-7px);
                        }
                    }
                }

                &--multi-3 {
                    .img-circle {
                        width: 43px;
                        
                        @include bp-md {
                            width: 40px;
                        }

                        @include bp-xl {
                            width: 50px;
                        }
                    }
                }

                &--multi-4 {
                    .img-circle {
                        width: 30px;

                        @include bp-sm {
                            width: 40px;
                        }
                        
                        @include bp-md {
                            width: 40px;
                        }

                        @include bp-lg {
                            width: 30px;
                        }

                        @include bp-xl {
                            width: 40px;
                        }
                    }

                    .list-item__authors__images {
                        > div {
                            &:first-child {
                                transform: translateX(12px);
                            }

                            &:nth-child(2) {
                                transform: translateX(4px);
                            }

                            &:nth-child(3) {
                                transform: translateX(-4px);
                            }

                            &:last-child {
                                transform: translateX(-12px);
                            }

                            @include bp-md {
                                &:first-child {
                                    transform: none;
                                }
    
                                &:nth-child(2) {
                                    transform: none;
                                }
    
                                &:nth-child(3) {
                                    transform: none;
                                }
    
                                &:last-child {
                                    transform: none;
                                }
                            }

                            @include bp-lg {
                                &:first-child {
                                    transform: translateX(12px);
                                }
    
                                &:nth-child(2) {
                                    transform: translateX(4px);
                                }
    
                                &:nth-child(3) {
                                    transform: translateX(-4px);
                                }
    
                                &:last-child {
                                    transform: translateX(-12px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#main-content {
    .list-item--post {
        a {
            text-decoration: none;
        }
    }
}