.related-content {
    margin-top: 80px;

    &__heading {
        margin-bottom: 60px;
    }
    
    &__all-links {
        @include font-size(12px);
        
        a:first-of-type {
            margin-left: 15px;
        }
    }
}