.signup {
    background: $purple;
    padding-top: 40px;
    padding-bottom: 65px;
    position: relative;


    input[type='text'] {
        width: 100%;
        float: left;
        padding: 12px 28px;
        line-height: pxtorem(19px);
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-color: $purple;

        @include bp-sm {
            width: 75%;
            float: left;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:focus {
            border-color: $dark-purple;
        }

    }

    input[type='submit'] {
        width: inherit;
        padding-top: 13px;
        padding-bottom: 13px;
        border-width: 1px;
        background: $dark-purple;

        @include bp-sm {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            width: 25%;
            min-width: 25%;
        }

        &:hover, &:focus {
            background: lighten($dark-purple, 12%);
        }
    }
}