.slider {
    // a quote carousel
    &--quotes {
        blockquote {
            &:before {
                display: none;
            }
        }

        .slick-next,
        .slick-prev {
            display: none !important;
            color: $light-gray;
            width: 40px;
            height: 40px;
            min-width: 0;
            border: 2px solid $light-gray;
            border-radius: 500px;
            transition: color 0.3s ease, border-color 0.3s ease;

            @include bp-lg {
                display: block !important;
            }
    
            &:before {
                display: none;
            }

            .icon:before {
                line-height: 36px;
            }

            &:hover {
                color: $gray;
                border-color: $gray;
            }
        }

        .slick-dots {
        }

        .slick-next {
            right: 0;
            margin-left: 20px;

            .icon:before {
                margin-left: 2px;
            }
        }

        .slick-prev {
            left: 0;

            .icon:before {
                margin-right: 2px;
            }
        }
    }

    // a quote icon
    &__quote {
        display        : flex;
        align-items    : center;
        justify-content: center; // Centers for IE 9-11
        text-align     : center;

        &:before, &:after { 
            display      : block;
            content      : "";
            flex-grow    : 1;
            min-width    : 5%;
            border-bottom: 1px solid $light-gray;
        }

        &:before {
            margin-right: 25px;
        }

        &:after {
            margin-left: 25px;
        }

        .icon-quote {
            display: inline-block;

            &:before {
                @include icon($icon-quote);
                color       : $orange;
                margin-right: 15px;
                display     : block;
                @include font-size(58px);
            }
        }
    }
}
