/**
 * WordPress Generated Classes
 * @see http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

/** Media alignment */
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}

.aligncenter {
  display: block;
  margin: 35px auto;
  height: auto;
}

.alignleft,
.alignright {
  margin-bottom: 20px;
  height: auto;
}

@include bp-sm {
  .alignleft {
    float: left;
    margin-right: 20px;
  }

  .alignright {
    float: right;
    margin-left: 20px;
  }
}

/** Captions */
.wp-caption {
  // @extend .figure;
}

.wp-caption img {
  // @extend .figure-img;
  // @extend .img-fluid;
}

.wp-caption-text {
  // @extend .figure-caption;
}

/** Text meant only for screen readers */
.screen-reader-text {
  // @extend .sr-only;
  // @extend .sr-only-focusable;
}
