@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?w45klh');
  src:  url('fonts/icons.eot?w45klh#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?w45klh') format('truetype'),
    url('fonts/icons.woff?w45klh') format('woff'),
    url('fonts/icons.svg?w45klh#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e902";
}
.icon-chevron-right:before {
  content: "\e90f";
}
.icon-mail:before {
  content: "\e904";
}
.icon-pin:before {
  content: "\e905";
}
.icon-clock:before {
  content: "\e906";
}
.icon-external-link:before {
  content: "\e908";
}
.icon-download:before {
  content: "\e909";
}
.icon-right-arrow:before {
  content: "\e90a";
}
.icon-circle-chevron-right:before {
  content: "\e90b";
}
.icon-quote:before {
  content: "\e90c";
}
.icon-circle-chevron-left:before {
  content: "\e90d";
}
.icon-search:before {
  content: "\e90e";
}
.icon-close:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e910";
}
.icon-facebook:before {
  content: "\e911";
}
.icon-feed:before {
  content: "\e901";
}
.icon-cart:before {
  content: "\e907";
}
.icon-linkedin:before {
  content: "\e900";
}
