@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?w45klh');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?w45klh#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?w45klh') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?w45klh') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?w45klh##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-mail {
  &:before {
    content: $icon-mail; 
  }
}
.icon-pin {
  &:before {
    content: $icon-pin; 
  }
}
.icon-clock {
  &:before {
    content: $icon-clock; 
  }
}
.icon-external-link {
  &:before {
    content: $icon-external-link; 
  }
}
.icon-download {
  &:before {
    content: $icon-download; 
  }
}
.icon-right-arrow {
  &:before {
    content: $icon-right-arrow; 
  }
}
.icon-circle-chevron-right {
  &:before {
    content: $icon-circle-chevron-right; 
  }
}
.icon-quote {
  &:before {
    content: $icon-quote; 
  }
}
.icon-circle-chevron-left {
  &:before {
    content: $icon-circle-chevron-left; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-feed {
  &:before {
    content: $icon-feed; 
  }
}
.icon-cart {
  &:before {
    content: $icon-cart; 
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}

