$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-calendar: "\e902";
$icon-chevron-right: "\e90f";
$icon-mail: "\e904";
$icon-pin: "\e905";
$icon-clock: "\e906";
$icon-external-link: "\e908";
$icon-download: "\e909";
$icon-right-arrow: "\e90a";
$icon-circle-chevron-right: "\e90b";
$icon-quote: "\e90c";
$icon-circle-chevron-left: "\e90d";
$icon-search: "\e90e";
$icon-close: "\e903";
$icon-twitter: "\e910";
$icon-facebook: "\e911";
$icon-feed: "\e901";
$icon-cart: "\e907";
$icon-linkedin: "\e900";

