.footer {
    position: relative;
    padding-bottom: 55px;
    background: $super-dark-purple;

    @include bp-md {
        padding-bottom: 0;
    }

    * {
        color: #fff;
    }

    &__sub-footer {
        color         : #fff;
        font-weight   : 800;
        background    : $orange;
        padding-top   : 20px;
        padding-bottom: 20px;
        text-align    : center;
        text-transform: uppercase;
        display       : block;
        position      : relative;
        transition    : all 0.3s;

        span   {
            color  : #fff;
            margin : auto;
            display: block;
            text-decoration: none;
        }

        &:hover, &:focus {
           background: darken($orange, 15%);
        }
    }

    &__main-primary, &__main-secondary {
        text-align: center;

        @include bp-md {
            text-align: right;
        }
    }

    &__main-primary {
        padding-top: 55px;
        padding-bottom: 30px;
    }

    &__main {
        padding-bottom: 20px;
    }

    .btn {
        text-transform: none;
    }

    .social-links {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 30px;

        @include bp-md {
            margin-right: 30px;
            margin-bottom: 0;
        }

        li {

            a {
                width: 49px;
                height: 49px;
                background: white;
                border-radius: 50%;
                position: relative;
                margin-bottom: 0;
                display: block;
                transition: all 0.3s;

                i {
                    color: $super-dark-purple;
                    &:before {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        @include font-size(23px);
                    }
                }

                &.social-link--twitter {
                    &:hover, &:focus {
                        background: $twitter;
                    }
                }

                &.social-link--facebook {
                    &:hover, &:focus {
                        background: $facebook;
                    }
                }

                &.social-link--linkedin {
                    &:hover, &:focus {
                        background: $linkedin;
                    }
                }
            }
        }
    }

    .menu-footer-navigation-container {
        display: inline-block;

        li {
            margin-left: 10px;
            margin-right: 10px;
        }

        a {
            opacity: 0.5;
            text-decoration: underline;

            &:hover, &:focus {
               opacity: 1;
               color: #fff;
            }
        }
    }

    &__copyright {
        display: inline-block;
        margin: 0;
        opacity: 0.5;
    }

    &__bg {
        position: relative;
    }

    #footer-bg-img {
        display: none;
        position: absolute;
        left: -100px;
        bottom: 0;

        @include bp-md {
            display: block;
        }
    }

    #b-corp-logo {
        position: static;
        display : block;
        margin  : 30px auto 0;
        left    : 15px;
        bottom  : 45px;

        @include bp-md {
            margin-bottom: 0;
            position: absolute;
            margin: 0;
        }
    }
}
