.header {
  position: fixed; // For when JS is not active
  top: 0;
  z-index: 50;
  width: 100%;
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s ease;
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.26);

  .logged-in & {
    top: 32px;
  }

  @include bp-md {
    padding-top: 20px;
    padding-bottom: 0;
  }

  @include bp-xl {
    padding-left: 45px;
    padding-right: 45px;
  }

  a,
  [class^="icon-"] {
    color: $dark-purple;
  }

  a {
    color: $super-dark-purple;
    @include font-size(13px);

    @include bp-xl {
      @include font-size(14px);
    }

    &:focus {
      outline: none;
    }
  }

  [class^="icon-"] {
    color: inherit;
    font-size: 0;
  }

  li {
    padding: 20px 0 20px;
    margin-left: 6px;
    margin-right: 6px;

    @include bp-xl {
      margin-left: 15px;
      margin-right: 15px;
    }

    &.current-menu-item,
    &.current-menu-ancestor {
      > a {
        color: $highlight;
      }
    }

    &:first-child {
      .row {
        @include bp-lg {
          align-items: initial;
        }
      }
    }
  }

  // wrap
  &__inner {
    display: flex;
    align-items: center; // Vertical align all items
    justify-content: space-between; // Horizontally align items
    overflow: hidden;
  }

  // logos
  &__brand {
    display: block;
    padding: 0;

    svg {
      display: block;
      width: 125px;
      height: 38px;
      margin: 0;
      transition: all 0.3s ease;

      @include bp-md {
        width: 197px;
        height: 49px;
      }

      @include bp-xl {
        width: 248px;
        height: 70px;
      }
    }

    @include bp-md {
      padding-bottom: 20px;
    }
  }

  // main nav wrap
  &__navigation {
    display: none;

    @include bp-lg {
      display: flex;
      align-items: center;
    }

    // main nav links
    > div > .nav {
      > .menu-item {
        z-index: 50;
        padding-bottom: 40px;

        > a {
          font-weight: 600;
          position: relative;
          text-transform: uppercase;

          &:before {
            content: "";
            visibility: hidden;
            background: $dark-purple;
            position: absolute;
            bottom: -66px;
            right: 50%;
            -webkit-transform: translateX(50%) rotate(45deg);
            transform: translateX(50%) rotate(45deg);
            z-index: 0;
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
        }

        &.menu-item-has-children {
          > a:after {
            content: "\e90f";
            display: inline-block;
            font-family: "icons";
            transform: rotate(90deg);
            line-height: pxtorem(19px);
            vertical-align: 2px;
            margin-left: 8px;
            font-size: 6px;
          }
        }

        &.menu-item--active {
          z-index: 99;

          a:before {
            visibility: visible;
          }
        }

        &.btn {
          padding: 10px 20px;
          margin-right: 18px;
          min-width: auto;
          background: transparent;
          border: 2px solid $orange;

          a {
            color: $orange;
          }

          &:hover,
          &:focus {
            background: $orange;

            a {
              color: #fff;
            }
          }
        }

        &:hover {
          > a {
            color: $highlight;
          }
        }
      }
    }
  }

  // dropdowns
  &__sub-menu {
    max-height: 0;
    padding-left: 0;
    list-style-type: none;
    transition: max-height 0.5s ease-out;

    li {
      padding: 0;
    }

    a {
      color: white;

      &:hover,
      &:focus {
        color: $yellow;
      }
    }

    .menu-item--active & {
      max-height: 1000px;
    }

    // the initial full width sub-menu
    &.menu-depth-1 {
      width: 100%;
      left: 0;
      top: 100%;
      position: absolute;
      padding: 0;
      z-index: 5;
      background: $dark-purple;
      overflow: hidden;

      .row {
        @include bp-lg {
          min-height: 200px;
          align-items: baseline;
          padding-top: 30px;
          padding-bottom: 30px;
        }

        > .menu-item {
          flex-grow: 1;
          padding-top: 10px;
          // set up for transition
          opacity: 0;
          transition: opacity 0.75s ease;

          &--wide {
            > a > span.menu-item--title {
              border: none;
            }
          }

          &--fade {
            opacity: 1;
          }

          > a {
            > .menu-item--title {
              display: block;
              font-weight: 800;
              padding-top: 10px;
              padding-bottom: 12px;
              text-transform: uppercase;
              border-bottom: 1px solid rgba(white, 0.3);
              @include font-size(16px);

              &:after {
                content: $icon-right-arrow;
                font-family: $icomoon-font-family;
                font-weight: 400;
                margin-left: 15px;
                transition: margin-left 0.3s;
                @include font-size(12px);
              }
            }

            &:hover {
              > .menu-item--title:after {
                margin-left: 18px;
              }
            }
          }

          &.current-menu-ancestor {
            > a {
              color: white;
            }
          }

          &.current_page_item,
          &.current-menu-item {
            > a {
              color: $yellow;
            }
          }

          .menu-item--caption {
            cursor: default;
            color: white;
            display: none;
            opacity: 0.7;
            margin-top: 10px;
            margin-bottom: 25px;
            line-height: pxtorem(19px);

            @include bp-md {
              display: block;
            }
          }

          &.menu-item--heading {
            text-align: center;

            .menu-item--title {
              border: none;

              span {
                &:before {
                  @include font-size(12px);
                  margin-left: 10px;
                }
              }

              &:after {
                display: none;
              }
            }
          }

          @include bp-lg {
            margin: 0;
            padding-left: 18px;
            padding-right: 18px;
            flex-grow: 1;

            &.menu-item--wide {
              flex: 0 0 100%;
            }

            &.menu-item--heading {
              margin-top: 20px;
              margin-bottom: 20px;
            }
          }
        }
      }
    }

    &.menu-depth-2 {
      list-style: none;
      padding-left: 0;

      li {
        margin-left: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: pxtorem(19px);

        &.menu-item-has-children,
        &.menu-item-has-children.current-menu-parent {
          > a {
            color: rgba(white, 0.7);
            text-transform: uppercase;
          }

          &.sub-menu-heading {
            margin-top: 50px;
            > a {
              color: #fff;

              > .menu-item--title {
                display: block;
                font-weight: 800;
                padding-top: 10px;
                padding-bottom: 12px;
                text-transform: uppercase;
                border-bottom: 1px solid rgba(white, 0.3);
                @include font-size(16px);

                &::after {
                  content: $icon-right-arrow;
                  font-family: $icomoon-font-family;
                  font-weight: 400;
                  margin-left: 15px;
                  transition: margin-left 0.3s;
                  @include font-size(12px);
                }
              }

              &:hover,
              &:focus {
                color: $highlight;

                > .menu-item--title::after {
                  margin-left: 18px;
                }
              }
            }
          }
        }

        &.current_page_item,
        &.current-menu-ancestor,
        &.current-menu-item {
          > a {
            color: $yellow;
          }
        }
      }

      a {
        font-weight: 600;
      }
    }

    &.menu-depth-3 {
      margin-bottom: 23px;
    }

    .our-work-nav-item & {
      &.menu-depth-1 {
        @media (min-width: 768px) and (max-height: 750px) {
          overflow: scroll;
          -ms-overflow-style: -ms-autohiding-scrollbar;
          height: calc(100vh - 115px);
        }
      }
    }
  }

  // search
  &__search-button,
  &__nav-icon {
    display: inline-block;
  }

  &__search {
    // search form container
    display: none;
    padding: 20px 0;
    position: relative;
    text-align: right;

    // toggle display
    &-button {
      display: none;

      @include bp-lg {
        display: inline-block;
        margin-bottom: 20px;

        &.icon-search:before {
          display: inline-block;
          margin-right: 0;
          margin-left: 18px;
          line-height: pxtorem(20px);
          @include font-size(14px);
        }
      }
    }

    &-form {
      margin-top: 12px;
      float: left;
      width: calc(100% - 65px);

      @include bp-sm {
        display: flex;
        justify-content: space-between;
      }

      label {
        flex-grow: 1;
        margin-bottom: 0;
      }

      input[type="text"] {
        width: 100%;
        margin: 0;
        border: none;
        color: $dark-gray;
        font-weight: 300;
        border-bottom: 1px solid $light-gray;
        background-color: transparent;
        padding-top: 7px;
        padding-bottom: 7px;
        transition: all ease 0.3s;
        @include font-size(25px);

        &:focus {
          outline: none;
        }
        &::-webkit-input-placeholder {
          color: $gray;
        }
        &:-ms-input-placeholder {
          color: $gray;
        }
        &::placeholder {
          color: $gray;
        }
      }

      input[type="submit"] {
        width: 100%;
        margin-top: 12px;
        margin-bottom: 0;

        @include bp-sm {
          width: inherit;
          max-width: 200px;
          margin-top: 0;
          margin-left: 12px;
        }
      }
    }

    &-submit {
      margin-bottom: 0;
    }

    &-close {
      cursor: pointer;
      display: inline-block;
      margin-top: 12px;
      width: 49px;
      height: 49px;
      background: $light-gray;
      border-radius: 50%;
      position: relative;
      transition: all 0.3s;
      @include font-size(12px);

      i {
        &:before {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          color: #fff;
        }
      }

      &:hover,
      &:focus {
        background: darken($light-gray, 15%);
      }
    }
  }

  // no javascript
  .no-js & {
    position: absolute;

    &__navigation {
      > div > .nav {
        > .menu-item-has-children {
          &:hover {
            > .header__sub-menu {
              display: flex;
            }
          }
        }
      }
    }

    &__navigation {
      > div > .nav > .menu-item:hover,
      > div > .nav > .menu-item:focus {
        .header__sub-menu {
          max-height: 1000px;

          .menu-item {
            opacity: 1;
          }
        }
      }
    }
  }

  .scroll-triggered & {
    @include bp-lg {
      padding-top: 0;
      padding-bottom: 0;

      .header__brand {
        padding-bottom: 0;

        svg {
          width: 186px;
          height: 52px;
        }
      }
    }

    .header__navigation {
      // these are the direct sub-menus
      > div > .nav {
        > .menu-item {
          padding-bottom: 20px;

          a:before {
            bottom: -46px;
          }

          &.btn {
            padding-bottom: 10px;
          }
        }
      }
    }

    .header__search-button {
      margin-bottom: 0;
    }
  }
}
