/**
 * Masthead
 * Default view is white background
 * Modifier includes background image
 * with white text
 */
.masthead {
	position       : relative;
	display        : flex;
	align-items    : center;
	justify-content: center;
	padding-top    : 60px;
	padding-bottom : 0px;
	margin-top     : 58px; // height of .header

	.container {
		flex-grow: 1;
		position: relative;
	}

	@include bp-md {
		margin-top: 89px; // height of .header
		flex-direction: column;

		.container {
			flex-grow: unset;
		}
	}
    
    @include bp-lg {
        margin-top: 112px; // height of .header
    }
    
	:last-child {
		margin-bottom: 0;
	}

	&__overlay {
		position  : absolute;
		$blur     : 10px;
		top       : -$blur; // negative margins to retain sharp edges
		bottom    : -$blur;
		left      : -$blur;
		right     : -$blur;
		filter    : blur($blur);
		opacity   : 1;
		transition: opacity 1s linear;

		&.fade-out {
			// JS class added after full size image is loaded
			opacity: 0;
		}

		&:after {
			content:'';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba( $dark-purple, 0.2 );
		}
	}

	&__breadcrumbs {
		font-weight: 700;
		margin-bottom: 8px;
		@include font-size(17px);
	}

	&__title {
		margin-bottom: 15px;

		@include bp-lg {
			@include font-size(64px);
		}
	}

	&__subtitle {
		font-weight: 400;
		@extend .h3
	}

	&--background {
		padding-top    : 95px;
		padding-bottom : 70px;
		min-height      : 280px;
		background-color: $highlight;
		overflow        : hidden;
		background-size : cover;
        background-position: center;
        border-bottom-left-radius: 200% 8%;
        border-bottom-right-radius: 200% 8%;
        clip-path: ellipse(200% 65% at 50% 35%);

    @include bp-md {
        min-height      : 500px;
        border-bottom-left-radius: 75% 8%;
        border-bottom-right-radius: 75% 8%;
        clip-path: ellipse(120% 65% at 50% 35%);
    }
        

        &:before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(223deg, rgba(0,0,0,0.00) 10%, rgba(0,0,0,0.50) 100%);

        }

		.masthead__title,
		.masthead__subtitle,
		.masthead__breadcrumbs {
			color: white;
		}
    }
    
    .single-impact_story & {
        .masthead__breadcrumbs {
            .breadcrumbs__link {
                color: $blue;
            }
        }
    }
}

/**
 * No Masthead & Scrolled
 */
 .no-masthead .header, 
 .scroll-triggered .header {
 	background-color: #fff;
	 
 	#header-search form.searchform input[type="text"] {
 		color: $text2;	
 	}

 	#header-search form.searchform input[type="text"] {
 		&::-webkit-input-placeholder {
		    color: $text2;
		}
		&:-ms-input-placeholder {
		    color: $text2;
		}
		&::placeholder {
			color: $text2;
		}
 	}
 	.brand svg path {
 		fill: initial;
 	}
}

.no-masthead {
    &.single {
        .wrap.container {
            padding-top: 50px;
            
            @include bp-lg {
                padding-top: 115px;
            }
        }
    }

    .wrap.container {
        position: relative;
    }
    
    .page-header {
        padding-top: 100px;
            
        @include bp-lg {
            padding-top :200px;
        }
    }
}