/**
 * Mobile Navigation
 */
 #nav-toggle {
	display: none;

	&:checked ~ #mobile-nav {
		// For the fade animation to work properly without a slide we need the following.
		// - z-index, height, top, and opacity prevents visual and functional effects.
		// - On open, z-index, top, and height transition happens immediately place screen overlay. Then visual transitions occur.
		// - On close, height transition waits until visual transitions are finished (declared below), then remove overlay.
		z-index   : 49;
		top       : 0;
		opacity   : 1;
		height    : 100vh;
		transition: z-index 0s linear 0s, top 0s linear 0s, opacity 0.3s linear 0s, height 0s linear 0s;

		.mobile-nav,
		.mobile-nav__menu {
			opacity   : 1;
			top: 0;
			transform : translateY(0);
			transition: opacity 0.5s ease 0.25s, transform 0.5s ease 0s;
		}

		.mobile-nav {
			height: 100%;
		}
	}
}

#mobile-nav {
	position        : fixed;
	top             : -999999px;
	height          : 0; // Important so it doesn't overlap page elements
	width           : 100%;
	z-index         : -1;
	opacity         : 0;
	color           : #fff;
	padding-left 	: 16px;
	padding-right 	: 16px;
	padding-top 	: 110px;
	overflow-y      : scroll;
	background-color: rgba( $dark-purple, 0.98 );
	transition: z-index 0s linear 0s, top 0s linear 0s, opacity 0.3s linear 0s, height 0s linear 0s;
}

.mobile-nav {
	display        : flex;
	flex-direction : column;
	align-items    : center;
	justify-content: center;
	// For the fade animation to work properly without a slide we need the following.
	// - z-index, height, top, and opacity prevents visual and functional effects.
	// - On open, z-index, top, and height transition happens immediately place screen overlay. Then visual transitions occur.
	// - On close, height transition waits until visual transitions are finished (declared below), then remove overlay.
	transition                 : z-index 0s linear 0.3s, top 0s linear 0.3s, opacity 0.3s linear 0s, height 0s linear 0.3s;
	backface-visibility        : hidden; // Prevents bugs in opacity.transitions
	transform                  : translate3d(0, 0, 0); // Adds hardware acceleration
	-webkit-backface-visibility: hidden; // Helps prevent animation flickers
    -webkit-perspective        : 1000; // Helps prevent animation flickers
    
    > .row {
        height: 100%;
    }
	
	ul {
		width          : 100%;
		overflow-y     : scroll;
		margin         : 0;
		padding        : 0;
		list-style-type: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	a {
		font-weight: 400;
		color      : white;
		display    : block;
		text-align : left;
		padding    : 12px 0px;
		line-height: pxtorem(16px);
		@include font-size(16px);
	}

	&__menu {
		opacity                    : 0;
		transform                  : translateY(-100%);
		transition                 : opacity 0.5s ease 0s, transform 0.5s ease 0.15s;
		backface-visibility        : hidden; // Prevents bugs in opacity.transitions
		-webkit-backface-visibility: hidden; // Helps prevent animation flickers
        -webkit-perspective        : 1000; // Helps prevent animation flickers
        -ms-overflow-style: none; // Removes scroll bars in IE 

		li {
			padding-left: 0;
			padding-right: 0;

			&.btn {
				padding: 0;
				text-align: left;
				background-color: transparent;
			}
		}

		> li {
			padding-bottom: 30px;

			> a {
				font-weight: 800;
				text-transform: uppercase;
			}
		}

		.sub-menu--open {
			display: none;
		}

		> li {
			&.menu-item-has-children {
				> a {
					font-weight: 400;
					padding: 10px 0;
					text-transform: uppercase;
					border-bottom: 1px solid rgba( white, 0.2 );
					line-height: pxtorem(26px);
					@include font-size(14px);
				}
			}
		}
	}

	// Dropdowns
	&__sub-menu {
		&.menu-depth-1 {
			> li {
				max-width: 100%;
				border-bottom: 1px solid rgba( white, 0.2 );

				> a {
					font-weight   : 800;
					text-transform: uppercase;
					line-height   : pxtorem(24px);
					@include font-size(16px);
				}

				&.menu-item-has-children {
					display  : flex;
					flex-wrap: wrap;
					position : relative;
	
					> a {
						flex-grow: 1;
	
						+ [class^="icon-"], [class*=" icon-"] { // chevrons
							display       : block;
							padding       : 17px;
							padding-top   : 12px;
							padding-bottom: 0;
							flex-grow     : 1;
							text-align    : right;
							speak         : none;
							font-style    : normal;
							font-variant  : normal;
							text-transform: none;
							line-height   : 1;
	
							&:before {
								content    : "\e90b";
								width      : 30px;
								display    : inline-block;
								transition : transform .25s ease;
								font-family: 'icons';
                                @include font-size(21px);
                                
                                &:hover, &:focus {
                                   cursor: pointer;
                                }
							}
						}
					}
				}
			}
		}

		&.menu-depth-2 {
			max-height: 0;
			transition: max-height 0.5s ease-out;

			li {
				&:first-child {
					> a {
						// padding-top: 0;
					}
				}

				&.menu-item-has-children {
					> a {
						opacity: 0.7;
						text-transform: uppercase;
					}
				}
			}

			a {
				[class^="icon-"] {
					display: inline-block;
					vertical-align: bottom;
				}
			}
		}
	}

	// Icon
	&__icon {
		// This is the <label> element that contains the menu icon
		z-index         : 99;
		display         : inline-block;
		position        : fixed;
		right           : 16px;
		top             : 8px;
		padding         : 12px;
		background-color: transparent;
		cursor          : pointer;
		-ms-user-select : none;
		user-select     : none;
		margin-bottom   : 0;

		> div {
			position: relative;
			width   : 37px;
			height  : 19px;
		}

		&:hover {
			.header__menu-line {
				&:first-child {
					transform: translateY(1px);
				}

				&:last-child {
					transform: translateY(-1px);
				}
			}
		}

		@include bp-md {
			top: 20px;		
		}

		@include bp-lg {
			display: none;
		}

		@include bp-xl {
			opacity  : 0;
			z-index  : -1;
			transform: translateY(-200%);
		}
	} 

	// Animated icons lines
	&__menu-line {
		position        : absolute;
		width           : 100%;
		height          : 2px;
		top             : 50%;
		background-color: $black;
		transition      : all 0.3s;

		&:first-child {
			top: 0;
		}

		&:nth-child(2), &:nth-child(3) {
			transform: translateY(-50%);
		}

		&:last-child {
			top   : auto;
			bottom: 0;
		}

		.mobile-nav-open & {
			&:first-child,
			&:last-child {
				opacity: 0;
				top    : 50%;
			}

			&:nth-child(2) {
				transform: rotate(45deg);
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
			}
		}

		.header--background & {
			background-color: white;
		}
	}

	.menu-item--btn,
	.menu-item--caption,
	.menu-item--heading {
		display: none;
	}

	// Fallback hiding content in case there is no mobile-nav set
	.menu__title--desktop,
	.menu-item-thumbnail img,
	.menu__title--page {
		display: none;
	}

	.quicklinks {
		text-align: center;

		ul {
			margin-bottom: 12px;
		}

		a {
			padding: 10px;
			@include font-size(18px);
		}

		> a {
			display: inline-block;

			[class^="icon-"]:before, [class*=" icon-"]:before {
				@include font-size(28px);
			}
		}
	}

	// CONDITIONS
	// show sub-menu
	&--opened {
		.mobile-nav__sub-menu {
			display: initial;
			max-height: 700px;
			transition: max-height 0.5s ease-in;
			
			&.menu-depth-2 {
				padding-bottom: 8px;
			}
		}

		&.menu-item-has-children > [class^="icon-"]:before {
			transform: translate(10%, -8%) rotate(90deg) !important;
		}
	}

	.menu--intro-text {
		display: none;
	}
}

// Search form
.mobile-search {
	margin-bottom: 20px;

	&__input {
		width 		 : 80%;
		float: left;

		input[type="text"] {
			width: 100%;
			color        : white;
			margin-bottom: 0;
			border       : none;
			border-bottom: 1px solid white;
			background-color: transparent;

			&::-webkit-input-placeholder {
				color: rgba(white, 0.5 );
			}
			&:-ms-input-placeholder {
				color: rgba(white, 0.5 );
			}
			&::-ms-input-placeholder {
				color: rgba(white, 0.5 );
			}
			&::placeholder {
				color: rgba(white, 0.5 );
			}
		}
	}

	&__submit,
	input[type="submit"] {
		display: block;
        min-width: 0;
        height: 50px;
		width           : 20%;
		text-align      : right;
		padding-left    : 17px;
		padding-right   : 17px;
		color           : white;
		border          : none;
		margin-bottom   : 0;
		background-color: transparent;

		&:hover, &:focus {
			color: $orange;
			background-color: transparent;
		}
	}
}

.mobile-nav-open {
	overflow: hidden;
}