// Shared

#tcc-swirl {
    position: absolute;
    right: 0;
    top: 30px;
    width: 375px;
    height: 395px;
    z-index: 0;

    @include bp-md {
        right: -325px;
        top: 30px;
        width: 953px;
        height: 1004px;
    }

    @include bp-xl {
        right: -235px;
    }

    .page & {
        right: -40px;
        @include bp-md {
            top: 0;
            right: -265px;
            height: 953px;
        }

        @include bp-lg {
            top: 30px;
            height: 1004px;
        }

        @include bp-xl {
            top: 30px;
        }
    }

    .single-person & {
        top: 30px;
        @include bp-md {
            right: 0;
            top: 60px;
            width: 375px;
            height: 395px;
        }

        @include bp-lg {
            right: -325px;
            top: 30px;
            width: 953px;
            height: 1004px;
        }

        @media (min-width: 1200px) {
            right: -235px;
        }
    }

    .single-service &,
    .single-experience & {
        @include bp-md {
            right: 0;
            top: 60px;
            width: 375px;
            height: 395px;
        }

        @include bp-lg {
            right: -325px;
            top: 30px;
            width: 953px;
            height: 1004px;
        }
    }
}

.swirl-img {
    width: 175px;
    position: absolute;
    top: -218px;
    right: 32px;

    @include bp-md {
        width: 200px;
        top: 0px;
        right: -230px;
    }

    @include bp-lg {
        width: 590px;
        top: -28px;
        right: -615px;
    }

    @include bp-xl {
        right: -705px;
    }

    .single-person & {
        width: 200px;
        top: -228px;
        right: 22px;

        @include bp-md {
            width: 200px;
            top: 0px;
            right: -230px;
        }

        @include bp-lg {
            width: 424px;
            top: 50px;
            right: -530px;
        }

        @include bp-xl {
            right: -530px;
        }
    }

    .logged-in & {
        top: -262px;

        @include bp-md {
            top: -28px;
        }
    }

    .logged-in.single-person & {
        top: -282px;

        @include bp-md {
            top: -32px;
        }

        @include bp-lg {
            top: 28px;
        }
    }
}

.highlight {
    background: $purple;
    border-radius: 35px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: all 0.3s;

    @include bp-md {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &--green {
        background: rgba(150, 174, 60, 0.7);

        &:hover,
        &:focus {
            background: rgba(150, 174, 60, 1);
        }
    }

    &--magenta {
        background: rgba(138, 45, 107, 0.7);

        &:hover,
        &:focus {
            background: rgba(138, 45, 107, 1);
        }
    }

    &--yellow {
        background: rgba(253, 183, 61, 0.7);

        &:hover,
        &:focus {
            background: rgba(253, 183, 61, 1);
        }
    }

    &--blue {
        background: rgba(64, 154, 192, 0.7);

        &:hover,
        &:focus {
            background: rgba(64, 154, 192, 1);
        }
    }

    .text-white & {
        &:hover,
        &:focus {
            opacity: 1;
        }
    }
}

// Home

.homepage-masthead {
    display: flex;
    align-items: center;
    background: $super-dark-purple;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: calc(95vh - 58px);
    border-bottom-left-radius: 200% 8%;
    border-bottom-right-radius: 200% 8%;
    clip-path: ellipse(200% 65% at 50% 35%);

    @include bp-md {
        border-bottom-left-radius: 75% 8%;
        border-bottom-right-radius: 75% 8%;
        clip-path: ellipse(120% 65% at 50% 35%);
    }

    html:not(.no-js) & {
        @include bp-md {
            background-image: none !important;
        }
    }

    &:after {
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(207, 82, 42, 0.1);
        background: rgba(35, 31, 32, 0.2);
        background-image: linear-gradient(
            -132deg,
            rgba(255, 255, 255, 0) 0%,
            #2c2e79 100%
        );
        position: absolute;
    }

    &__inner {
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__headline {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        &--first {
            &.revealed {
                transform: translateY(-50%);
            }
        }

        h1 {
            @include font-size(24px);
            line-height: pxtorem(28px);
            margin-bottom: 100px;

            @include bp-md {
                max-width: 75%;
                margin-bottom: 80px;
                @include font-size(36px);
                line-height: pxtorem(46px);
            }

            @include bp-lg {
                @include font-size(48px);
                line-height: pxtorem(54px);
            }

            @media (min-width: 1200px) and (min-height: 800px) {
                @include font-size(56px);
                line-height: pxtorem(60px);
            }
        }
    }

    @include bp-md {
        height: calc(95vh - 112px);
    }

    #main-content & {
        a {
            text-decoration: none;
        }
    }
}

.newsletter-promo {
    padding: 40px 60px 0;
    background-image: url("../images/tcc-grp-newsletter-bg.png") !important;
    background-color: $orange !important;
    background-repeat: no-repeat;
    background-position: left;
    @extend .text-white;
    background-size: contain;

    h2 {
        line-height: 120%;
    }
}

// Video player
.home-intro-slide-video-bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    // opacity: 0;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    // position: relative;
    // z-index: 1;
    // opacity: 1;

    .video-js {
        position: static;
    }

    .no-js & {
        position: static;
        opacity: 1;
    }

    video {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;

        @supports (-ms-ime-align: auto) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
        }

        @media screen and (-ms-high-contrast: none) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
        }
    }

    &::after {
        content: "";
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($super-dark-purple, 0.5);
    }

    .no-js & {
        display: none;
    }

    &::before {
        content: "";
        display: block;
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: opacity 0.6s ease-out 1s;
        background-color: $super-dark-purple;
    }

    &.playing {
        &:before {
            opacity: 0;
        }
    }
}

// iframe
.homepage-video {
    background-color: $black;
    position: absolute;
    /* compute width based on aspect ratio and vh. */
    width: calc(100vh * (16 / 9)); /* assumes 16:9 */
    height: 100vh;
    /* moves the video's left edge halfway across the containing element */
    left: 50%;
    top: 50%;
    /* pulls the video back by half its own width, effectively centering it */
    transform: translate(-50%, -50%);
}

/* Media query here for when viewport is wider than the video's aspect ratio
* can accommodate assuming full height.
*/
@media (min-aspect-ratio: 16/9) {
    /* assumes 16:9 */
    .homepage-video {
        /* we now set width to be full */
        width: 100vw;
        /* and calculate height based on vw instead */
        height: calc(100vw * (9 / 16)); /* assumes 16:9 */
    }
}

.homepage-masthead-promos {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 15px;
    width: 100%;
    z-index: 1;

    @include bp-md {
        bottom: 80px;
    }

    @media (min-width: 768px) and (min-height: 668px) {
        bottom: 116px;
    }

    .container {
        position: relative;
    }

    .row {
        @include bp-md {
            width: 95%;
        }
    }

    #mouse-scroll {
        display: none;
        position: absolute;
        right: 15px;
        top: 0;

        &__arrows {
            animation: pulse 0.5s ease-in-out infinite alternate;
        }

        @include bp-md {
            display: block;
        }
    }

    &__promo {
        &__inner {
            border-top: 1px solid #fff;
            padding-top: 15px;
            padding-top: 7px;
            padding-bottom: 7px;

            @include bp-md {
                padding-top: 15px;
                padding-bottom: 0;
            }

            a {
                color: #fff;
                display: flex;
                align-items: center;

                &:hover {
                    i {
                        margin-left: 18px;
                    }
                }
            }

            i {
                margin-left: 15px;
                transition: all 0.3s;

                &:before {
                    font-size: 12px;
                }
            }
        }
    }
}

.homepage-twitter {
    background-size: 410px;
    background-repeat: no-repeat;
    background-position: right center;
    min-height: 320px;
}

// Insights & Perspectives
.insights-perspectives {
    #main-content {
        .alm-reveal {
            justify-content: center;
        }
    }
}

.rss-link {
    color: $black;
    display: block;
    margin-top: 45px;

    i {
        margin-right: 12px;
        color: $highlight;
    }

    #main-content & {
        text-decoration: none;
    }

    @include bp-sm {
        margin-top: 0;
        margin-left: 45px;
        display: inline-block;
    }
}

// Impact Stories
.story-list {
    padding-top: 60px;
}

// Resource Library
.resource-list {
    margin-top: 55px;
}

// Events
.event-filters {
    border-top: 1px solid $stroke;
    margin-bottom: 30px;

    @include bp-md {
        margin-bottom: 60px;
    }

    li {
        a {
            position: relative;
            display: inline-block;
            padding: 17px;
            @include font-size(17px);
            line-height: pxtorem(17px);
            color: $gray;
            overflow: hidden;

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 8px;
                background-color: $yellow;
                left: 0;
                top: 0;
                transform: translateY(-100%);
                transition: transform 0.3s ease-in-out;
            }
        }

        &:first-child {
            a {
                margin-right: 30px;
            }
        }

        &.event-filter--active,
        &:hover,
        &:focus {
            a {
                color: $black;

                &:before {
                    transform: translateY(0);
                }
            }
        }
    }

    #main-content & {
        a {
            text-decoration: none;
        }
    }
}

// All Clients

.clients-filter {
    margin-top: 75px;
    margin-bottom: 75px;
    text-align: center;

    #main-content & {
        padding-left: 0;
    }

    @include bp-md {
        text-align: left;
    }

    &__item {
        @include font-size(17px);
        margin-right: 35px;

        a {
            color: $gray;
            font-weight: bold;

            &:hover {
                color: $highlight;
            }
        }

        &--active {
            a {
                color: $highlight;
            }
        }
    }

    > li {
        margin-bottom: 15px;
    }
}
.all-clients {
    #main-content {
        margin-top: 0;
    }
}

.client-list {
    text-align: left;

    &__header {
        p {
            @include font-size(17px);
            color: $gray;
        }
    }
}

/**
 * Search & 404
 */
.search-results-top {
    align-items: center;
    margin-bottom: 30px;

    h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    input[type="text"] {
        @include bp-lg {
            margin-bottom: 10px;
        }
    }

    .row {
        margin-bottom: 20px;
        align-items: center;
    }

    p,
    label,
    select {
        margin-bottom: 0;
    }

    .no-js & {
        form {
            flex-direction: row;
        }
    }

    p {
        margin-top: 25px;

        @include bp-sm {
            margin-top: 0;
        }
    }
}

.results-pagination {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include font-size(16px);

    .pagination {
        padding: 12px;
    }

    .page-numbers {
        margin-left: 10px;
        margin-right: 10px;

        .icon:before {
            vertical-align: top;
            line-height: pxtorem(24px);
            @include font-size(9px);
        }
    }

    .prev {
        .icon:before {
            display: inline-block;
            transform: rotate(180deg);
            line-height: pxtorem(21px);
        }
    }

    .no-js &,
    .search & {
        display: flex;
    }
}

.woocommerce-page {
    .visc-wc-cart-link {
        float: right;

        i {
            font-style: normal;
            margin-right: 10px;
        }
    }

    .added_to_cart {
        &:before {
            font-family: "icons";
            content: $icon-cart;
            margin-right: 10px;
            @include font-size(16px);
        }
    }

    #main-content ul.products {
        li.product {
            .woocommerce-loop-product {
                &__link {
                    text-decoration: none;
                }
                &__title {
                    @extend .h3;
                    @include font-size(24px);
                    line-height: pxtorem(30px);
                    color: $dark-purple;
                }
            }

            a.added_to_cart {
                text-decoration: none;
            }

            .woocommerce-product-details__short-description p {
                color: $text1;
                @extend .small;
            }
        }
    }

    a.button.loading::after,
    button.button.loading::after,
    input.button.loading::after {
        top: 15px !important;
        right: 22px !important;
    }
}

.woocommerce {
    .woocommerce-result-count {
        @include bp-md {
            margin-bottom: 40px;
        }
    }
    a.remove {
        color: $magenta !important;

        &:hover {
            background-color: $magenta;
        }
    }
}

#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
    padding: 14px;
    margin-right: 15px;
    width: inherit;
}

#main-content table.shop_table {
    th {
        border-bottom: none;
    }

    a {
        text-decoration: none;
    }
}

.woocommerce-cart.woocommerce-page .wc-proceed-to-checkout a.checkout-button {
    padding: 15px 22px;
    font-size: 0.875rem;
}

.woocommerce ul.order_details {
    margin-bottom: 30px;
}

table.woocommerce-table.woocommerce-table--order-details.shop_table.order_details {
    th,
    td {
        @include font-size(16px);
    }
}

.main {
    .woocommerce-message {
        border-top-color: $light-green;

        &::before {
            color: $light-green;
        }

        a.button {
            margin-bottom: 0;
        }
    }

    .woocommerce-info {
        border-top-color: $blue;

        &::before {
            color: $blue;
        }
    }

    .woocommerce-error {
        padding-left: 70px;
    }
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
    color: $blue;
}

.woocommerce-order-received .woocommerce {
    @extend .row;
    @extend .justify-center;

    .woocommerce-order {
        @extend .column;
        @extend .md-75;
    }

    ul.order_details li {
        padding-right: 20px;
        margin-right: 20px;
        border-right: 1px solid $stroke;

        &:last-of-type {
            border: none;
        }

        strong {
            @include font-size(16px);
        }
    }
}

.purchase-promos {
    @include bp-md {
        & > div {
            border-right: 1px solid $stroke;

            &:last-of-type {
                border: none;
            }
        }
    }
}
.purchase-promo {
    margin-bottom: 20px;

    @include bp-md {
        margin-bottom: 0;
    }
    .wpb_single_image,
    img {
        margin-bottom: 10px;
    }

    h2 {
        margin-bottom: 20px;
        line-height: pxtorem(25px);
        @include font-size(22px);
    }

    p {
        @extend p.small;
        line-height: pxtorem(22px);
    }
}

// Our Team

.person-list {
    margin-bottom: 60px;

    &__heading {
        font-weight: 400;
        color: $black;
        margin-bottom: 40px;
    }
}
