// Include Single Post page styles and list item styles

// Shared
.entry-content {
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid $stroke;
}

.entry-meta {
    padding-top: 25px;
    padding-bottom: 25px;
    color: $gray;
    @include font-size(17px);

    a {
        color: $gray;
        text-decoration: underline;
    }

    time {
        font-weight: bold;
    }
}

.single__header {
    position: relative;
    margin-top: 0;

    @include bp-md {
        margin-top: 0;
    }

    .entry-tax {
        color: $gray;
        @include font-size(17px);
        font-weight: bold;
    }
}

.single-experience,
.single-service,
.single-person {
    .single__header {
        margin-top: 232px;

        @include bp-md {
            margin-top: 0;
        }
    }

    .logged-in & {
        .single__header {
            margin-top: 200px;

            @include bp-md {
                margin-top: 0;
            }
        }
    }
}

.social-share {
    display: none;
    position: absolute;
    top: 0;
    left: -80px;

    ul {
        text-align: center;
    }
    li {
        list-style-type: none;
        margin-bottom: 15px;
        display: block;

        a {
            width: 34px;
            height: 34px;
            background: $light-gray;
            border-radius: 50%;
            position: relative;
            display: block;

            i {
                color: #fff;

                &:before {
                    font-size: 20px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                }

                &.icon-mail {
                    &:before {
                        font-size: 15px;
                    }
                }
            }

            &:hover,
            &:focus {
                background: $highlight;
            }
        }
    }

    @include bp-md {
        display: block;
        left: -94px;
    }

    @include bp-lg {
        left: -116px;
    }

    @include bp-xl {
        left: -145px;
    }
}

.main {
    .list-item-card,
    .list-item-post,
    .list-item-person,
    .list-item-event,
    .list-item-service,
    .list-item-experience {
        a {
            display: block;
            text-decoration: none;
        }
    }
}

// List Item Card

.list-item-card {
    position: relative;
    margin-bottom: 60px;

    > div {
        border-bottom: 1px solid $light-gray;
    }

    &:last-child {
        margin-bottom: 60px;
    }

    @include bp-sm {
        min-height: 425px;
    }

    @include bp-md {
        border-right: 1px solid $light-gray;

        > div {
            border-bottom: none;
        }

        &:nth-child(2n + 2) {
            border: none;
        }
    }

    @include bp-lg {
        &:nth-child(2n + 2) {
            border-right: 1px solid $light-gray;
        }

        &:nth-child(3n + 3) {
            border: none;
        }
    }

    > div {
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .image-zoom {
        margin-bottom: 20px;
    }

    .img-cover {
        &:before {
            padding-top: 50%;
        }
    }

    &__link {
        &:hover {
            .img-cover {
                transform: scale(1.05);
            }
        }

        &:hover,
        &:focus {
            .list-item-card__title {
                color: darken($dark-purple, 15%);
            }
        }
    }

    &__title {
        font-weight: 600;
        color: $dark-purple;
        line-height: pxtorem(42px);
        @include font-size(36px);
    }

    &__excerpt {
        color: $dark-gray;
        padding-bottom: 60px;
    }

    &__meta {
        font-weight: 600;
        position: absolute;
        bottom: 30px;
        left: 30px;
        @include font-size(12px);

        .meta-post-type {
            display: inline-block;
            margin-right: 10px;
        }
    }

    // modifiers
    &--post {
        .meta-post-type {
            color: $dark-orange;
        }
    }

    &--resource {
        display: flex;
        align-items: center;

        .meta-post-type {
            color: $magenta;
        }
    }

    &--event {
        .meta-post-type {
            color: $purple;
        }
    }

    &--impact_story {
        .meta-post-type {
            color: $blue;
        }
    }

    &--featured-image {
        display: block;

        > div {
            display: block;
        }

        .list-item-card__title {
            margin-bottom: 20px;
            line-height: pxtorem(25px);
            @include font-size(22px);
        }
    }
}

// Single Post
.single-post-content {
    .authors {
        display: flex;
        margin-bottom: 30px;

        @include bp-md {
            margin-bottom: 50px;
        }
    }
}

// List Item Post
.authors {
    .authors__author {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .img-circle {
            width: 60px;
            height: 60px;
            flex-shrink: 0;
            margin-right: 20px;

            @include bp-md {
                width: 90px;
                height: 90px;
                margin-right: 30px;
            }
        }

        p {
            margin-bottom: 0;
            color: $gray;
            @include font-size(17px);
            line-height: pxtorem(20px);
        }
    }
}

// Single Person
.single-person-content {
    .entry-title {
        margin-bottom: 5px;
    }

    .entry-role {
        color: $gray;
    }

    .entry-email {
        @include font-size(14px);
        color: $gray;

        &:hover,
        &:focus {
            color: $highlight;
        }

        &:before {
            @include icon($icon-mail);
            color: $highlight;
            font-size: 90%;
            margin-right: 15px;
        }
    }

    ul,
    ol {
        padding-left: 20px;
    }

    &__header {
        padding-bottom: 40px;
        margin-top: 250px;

        @include bp-md {
            margin-top: 250px;
        }

        @include bp-lg {
            margin-top: 0;
        }
    }

    &__main {
        padding-top: 36px;
        padding-bottom: 36px;
        border-top: 1px solid $stroke;
    }

    &__sidebar {
        h4 {
            @include font-size(17px);
            line-height: pxtorem(32px);
            color: $dark-orange;
        }

        p {
            @include font-size(17px);
            line-height: pxtorem(26px);
        }

        a {
            color: $text1;

            &:hover,
            &:focus {
                color: $highlight;
            }
        }

        .related-content {
            &__link {
                color: $highlight;
            }

            &__more {
                display: none;
            }
        }

        @include bp-lg {
            margin-top: 425px;
            padding-left: 100px;
        }

        &__section {
            padding-top: 40px;
            padding-bottom: 15px;
            border-bottom: 1px solid $stroke;
        }

        &__section--post {
            h4 {
                color: $dark-orange;
            }
        }

        &__section--event {
            h4 {
                color: $blue;
            }
        }

        &__section--resource {
            border: none;

            h4 {
                color: $magenta;
            }
        }
    }
}

.list-item-person {
    @include bp-lg {
        margin-bottom: 55px;
    }

    &__image {
        display: block;
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }

    &__name {
        color: $gray;
        font-weight: 700;
        margin-bottom: 5px;
        line-height: pxtorem(26px);
        @include font-size(20px);

        a {
            color: $gray;
            transition: all 0.3s;
        }
    }

    &__role {
        @include font-size(14px);
        line-height: pxtorem(26px);
        color: $gray;
        margin-bottom: 0;

        &:last-child {
            margin-bottom: 25px;
        }
    }

    &:hover {
        .list-item-person__name {
            color: $highlight;
        }
    }
}

// List Item Service and Experience

.list-item-service,
.list-item-experience {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 30px;

    &__image {
        z-index: 0;
    }

    &__link {
        display: block;
        width: 100%;
        padding-top: 0;
        text-align: center;
        position: relative;
        background-color: $gray;

        &:before {
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            position: absolute;
            background: rgba(207, 82, 42, 0.1);
            background-image: linear-gradient(
                -180deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(44, 46, 121, 0.5) 65%
            );
            z-index: 1;
        }
    }

    &__content {
        // content wrap
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;

        @include bp-xl {
            transform: translateY(38%);
            transition: transform 0.8s ease-in-out;
        }
    }

    &__title {
        color: white;
        width: 100%;
        left: 0;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 10px;
        line-height: pxtorem(40px);
        transition: transform 0.3s ease;
        @include font-size(30px);

        @include bp-xl {
            position: absolute;
            bottom: 50%;
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    &__excerpt {
        width: 100%;
        color: white;
        left: 0;
        padding-left: 30px;
        padding-right: 30px;
        transition: transform 0.3s ease, opacity 1.8s ease;
        transition-delay: 0.1s;
        @include font-size(18px);

        @include bp-xl {
            position: absolute;
            top: 50%;
            opacity: 0;
        }
    }

    &__link {
        &:hover,
        &:focus {
            .list-item-service__content,
            .list-item-experience__content {
                @include bp-xl {
                    transform: translateY(0%);
                }
            }

            .list-item-service__excerpt,
            .list-item-experience__excerpt {
                opacity: 1;
                // position: relative;
                transform: translateY(0);
                transition-delay: 0;
            }
        }
    }
}

.list-item-story {
    margin-bottom: 30px;

    &__link {
        display: block;
    }

    &__image {
        &:before {
            padding-top: 75%;
            background-image: linear-gradient(
                -180deg,
                rgba(0, 0, 0, 0) 13%,
                rgba(44, 46, 121, 0.5) 98%
            );
            position: relative;
            z-index: 1;
        }
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @include bp-lg {
            padding: 60px 100px 40px 60px;
        }
    }

    &__title {
        color: white;
        font-weight: 400;
        line-height: pxtorem(32px);
        margin-bottom: 5px;
        @include font-size(25px);
    }

    &__meta {
        color: white;
        font-weight: 800;
        margin-bottom: 0;
        line-height: pxtorem(18px);
        @include font-size(14px);
    }
}

// Single Impact Story {
.single-impact_story {
    .masthead {
        &__subtitle {
            @include font-size(17px);
            line-height: pxtorem(20px);
        }
    }
}

// Featured Story
.featured-impact-story {
    position: relative;
    margin-bottom: 60px;

    &__image {
        &:before {
            padding-top: 65%;

            @include bp-md {
                padding-top: 45%;
            }
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: linear-gradient(
                233deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(44, 46, 121, 0.5) 100%
            );
        }
    }

    &__content {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        padding: 40px;
    }

    &__title {
        font-weight: 400;
        margin-bottom: 0;
    }

    &__link {
        display: block;
    }

    &__meta {
        font-weight: 800;
        margin-bottom: 0;
    }
}

// Featured Post
#main-content .featured_story {
    text-align: center;
    padding-top: 65px;
    padding-bottom: 65px;
    position: relative;
    overflow: hidden;
    background-color: $dark-gray;

    .row {
        align-items: center;
    }

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        filter: blur(10px);
        transform: scale(1.05); // account for blurred bg

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba($super-dark-purple, 0.6);
            background: linear-gradient(
                235deg,
                rgba($super-dark-purple, 0),
                rgba($super-dark-purple, 0.6)
            );
        }
    }

    a {
        text-decoration: none;
    }

    &__link {
        display: block;
        color: $yellow;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 20px;
        @include font-size(14px);

        @include bp-sm {
            margin-bottom: 0;
        }

        h3 {
            text-transform: initial;
        }

        .icon {
            margin-left: 15px;
            transition: margin-left 0.3s;

            &:before {
                @include font-size(11px);
            }
        }

        &:hover {
            .icon {
                margin-left: 18px;
            }
        }
    }

    &__img {
        display: block;
        margin-top: 16px;
        border-radius: 8px;

        img {
            display: block;
        }

        @include bp-sm {
            margin-top: 0;
        }
    }

    @include bp-sm {
        text-align: initial;
    }

    @include bp-lg {
        padding-top: 115px;
        padding-bottom: 115px;
    }
}

// Single Resource

.main .single-resource-content {
    &__header {
        margin-top: 0;
        margin-bottom: 45px;

        h1 {
            @include font-size(21px);
            line-height: pxtorem(25px);

            @include bp-md {
                @include font-size(32px);
                line-height: pxtorem(40px);
            }

            @include bp-lg {
                @include font-size(43px);
                line-height: pxtorem(48px);
            }
        }
    }

    &__links-container {
        ul {
            margin-top: 0;
            padding-left: 0;
        }

        li {
            display: block;
            margin-bottom: 15px;
        }

        @include bp-md {
            margin-bottom: 60px;
        }
    }

    .entry-meta {
        span {
            display: inline-block;
            margin-right: 30px;
            font-weight: 600;
        }
    }
}

.resource-link {
    text-decoration: underline;

    @include bp-md {
        line-height: pxtorem(48px);
        @include font-size(24px);
    }

    &--url {
        &:after {
            @include icon($icon-external-link);
            margin-left: 10px;

            @include bp-md {
                margin-left: 20px;
            }
        }
    }

    &--file {
        &:after {
            @include icon($icon-download);
            margin-left: 10px;

            @include bp-md {
                margin-left: 20px;
            }
        }
    }
}

.modal-bg {
    display: none;
    overflow-y: scroll;

    &:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 52;
        background: rgba(0, 0, 0, 0.37);
    }
}

.download-modal {
    width: 90%;
    height: 92vh;
    position: fixed;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 53;
    left: 50%;
    top: 50px;
    bottom: 50px;
    transform: translateX(-50%);
    background: white;
    padding: 20px;

    h3 {
        margin-top: 0;
        font-size: 25px;
    }

    .gform_wrapper .top_label .gfield_label {
        margin-bottom: 0;
    }

    .gform_wrapper ul li.gfield {
        margin: 0;
    }

    .gform_wrapper div.validation_error {
        padding: 0;
        border: none;
        @include font-size(14px);
    }

    .gform_wrapper
        li.gfield.gfield_error.gfield_contains_required
        div.gfield_description {
        padding: 0;
    }

    @include bp-md {
        width: 700px;
        top: 50%;
        bottom: auto;
        transform: translate(-50%, -50%);

        .gform_wrapper .top_label .gfield_label {
            margin-bottom: 5px;
        }
    }

    @media (min-height: 730px) {
        padding: 40px 40px 80px;

        h3 {
            font-size: 30px;
        }
    }

    i,
    .icon-cancel {
        float: right;
        position: relative;
        z-index: 1;

        &:hover {
            cursor: pointer;
        }
    }
}

.gform_wrapper .download-gate-signup {
    .gfield_description {
        @include font-size(12px);
        line-height: pxtorem(16px);
    }
}

.no-js {
    .resource-download-links {
        display: none;
    }

    .modal-bg {
        display: block;
        position: static;
        &:before {
            display: none;
        }
    }

    .download-modal {
        position: static;
        transform: none;
        width: 100%;

        i {
            display: none;
        }
    }

    & .no-resource-gate {
        .resource-download-links {
            display: inline-block;
        }

        .modal-bg {
            display: none;
        }
    }
}

// Featured Resource
// Featured Story
.featured-resource {
    position: relative;
    margin-top: 55px;

    &__image {
        &:before {
            padding-top: 150%;

            @include bp-sm {
                padding-top: 45%;
            }

            @include bp-md {
                padding-top: 35%;
            }
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: linear-gradient(
                221deg,
                rgba(0, 0, 0, 0) 12%,
                rgba(44, 46, 121, 0.8) 100%
            );
        }

        img {
            min-width: 100%;
            min-height: 100%;
            width: initial;
        }
    }

    &__content {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        padding: 40px;

        @include bp-xl {
            top: auto;
            bottom: 0;
            transform: none;
            padding-left: 60px;
            padding-bottom: 90px;
        }
    }

    &__title {
        font-weight: 400;
        margin-bottom: 0;
    }

    &__link {
        display: block;
    }

    &__meta {
        font-weight: 800;
        margin-bottom: 25px;
        @include font-size(14px);
    }
}

// List Item Resource
.list-item-resource {
    &__image {
        &:before {
            padding-top: 50%;
        }
    }
}

// Single Event
.single-event-content {
}

// Single Event
.single-event-content {
    .entry-title {
        margin-bottom: 25px;
    }

    &__header {
        position: relative;
    }

    &__main {
        padding-top: 60px;
        padding-bottom: 30px;
        border-top: 1px solid $stroke;
        border-bottom: 1px solid $stroke;
    }

    &__main-image {
        margin-bottom: 60px;
    }

    &__meta {
        margin-top: 45px;
        padding-bottom: 20px;
        p {
            position: relative;
            padding-left: 45px;
            color: $black;

            &:before {
                color: $orange;
                font-size: 80%;
                position: absolute;
                top: 5px;
                left: 0;
            }
        }
    }

    .single-event-date {
        &:before {
            @include icon($icon-calendar);
        }
    }

    .single-event-time {
        &:before {
            @include icon($icon-clock);
        }
    }

    .single-event-location {
        white-space: pre-line;
        &:before {
            @include icon($icon-pin);
        }
    }

    &__button-container {
        padding-top: 35px;

        @include bp-md {
            padding-top: 75px;
        }
    }
}

// List Item Event
.list-item-event {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid $stroke;

    &__title {
        font-weight: 400;

        a {
            color: $dark-purple;
        }
    }

    &__image {
        margin-bottom: 30px;
        display: block;

        .img-cover:before {
            padding-top: 50%;
        }
    }

    &__meta {
        p {
            color: $purple;
            font-weight: bold;
            margin-bottom: 0;
        }
    }

    .event-date-container {
        display: none;

        @include bp-md {
            display: block;
        }
    }

    .event-date-full {
        @include bp-md {
            display: none;
        }
    }
}

.event-date {
    width: 100%;
    max-width: 165px;
    position: relative;
    padding-top: 100%;
    border-radius: 50%;
    background: $lightest-gray;

    &__inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;

        p {
            margin-bottom: 10px;
            @include font-size(18px);
            color: $gray;

            &:last-child {
                color: $dark-purple;
                @include font-size(48px);
            }
        }
    }
}

// List Item Client
.list-item-client {
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    text-align: center;

    @include bp-md {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    &__name,
    &__type {
        @include font-size(28px);
        line-height: pxtorem(30px);
        margin-bottom: 0;

        &:first-child {
            margin-bottom: 15px;

            @include bp-md {
                margin-bottom: 0;
            }
        }
    }

    &__type {
        @include font-size(18px);
        line-height: pxtorem(22px);

        @include bp-md {
            @include font-size(30px);
            line-height: pxtorem(32px);
        }
    }
}

// Search Results
.list-item-result {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid $light-gray;

    .entry-title {
        a {
            color: $dark-purple;
        }
    }

    .entry-summary {
        p {
            @include bp-sm {
                margin-bottom: 0;
            }
        }
    }
}

.single-product {
    .entry-title {
        @include bp-md {
            margin-bottom: 40px;
        }
    }

    .entry-content {
        border: none;
    }

    .cart {
        input {
            margin-right: 15px;
        }
    }
    .wc-tabs {
        display: none;
    }

    .wc-tab {
        h2 {
            @extend .h4;
        }
    }

    .woocommerce-product-gallery {
        &__trigger {
            display: none !important;
        }

        &__image a {
            &:hover,
            &:focus {
                cursor: auto;
            }
        }
    }

    .woocommerce div.product {
        div.summary {
            margin-bottom: 0;
        }

        .woocommerce-tabs .panel {
            border: none;
        }
    }
}
