@keyframes headline--first {
    from {
        opacity: 1; 
    }
  
    to {
        opacity: 0;
    }
}

@keyframes headline--second {
    from {
        opacity: 0;
        transform: translateY(calc(-50% + 20px));
    }
  
    to {
        opacity: 1;
        transform: translateY(-50%);
    }
}

.reveal {
    opacity: 0;
	transition: all 0.8s;
	transition-timing-function: ease-in-out;



	&.revealed {
        opacity: 1;
        transform: none;
    }
    
    .no-js & {
        opacity: 1;
        transform: none;
    }
}

.reveal--up {
    transform: translateY(-20px);
}

.reveal--down {
    transform: translateY(20px);
}

.reveal--right {
    transform: translateX(-20px);
}

.reveal--left {
    transform: translateX(20px);
}

.reveal--delay {
    transition-delay: 1s;
}

.reveal--delay-long {
    transition-delay: 1.5s;
}

.reveal--slow {
    transition-duration: 2.5s;
}

.image-zoom {
    overflow: hidden;
    .img-cover {
        transition: transform 2s linear;
    }

    &:hover, &:focus {
       .img-cover {
            transform: scale(1.05);
       }
    }
}

@keyframes pulse {
    0% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }

@keyframes tcc-swirl__inside-swirl_Animation {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    } 
}

@keyframes tcc-swirl__middle-swirl_Animation{
    0%{
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        opacity: 0;
    }
    100%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }
    
}

@keyframes tcc-swirl__outside-swirl_Animation{
    0%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        opacity: 0;
    }
    100%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }
}

#tcc-swirl * {
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
    animation-fill-mode: forwards;
}

#tcc-swirl__inside-swirl{
    animation-name: tcc-swirl__inside-swirl_Animation;
}
#tcc-swirl__outside-swirl{
    animation-name: tcc-swirl__outside-swirl_Animation;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    transform-origin: 50% 50%;
    transform-box: fill-box;
    transform: rotate(0deg);
}
#tcc-swirl__middle-swirl{
    animation-name: tcc-swirl__middle-swirl_Animation;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    transform-origin: 50% 50%;
    transform-box: fill-box;
    transform: rotate(0deg);
}