html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    color      : $text1;
    font-family: $font1;
    overflow-x : hidden;
    line-height: pxtorem(24px);
    @include font-size(16px);

    @include bp-md {
        @include font-size(20px);
    }
}
p, h1, h2, h3, h4, h5, h6, a, img {
    backface-visibility        : hidden; // Prevents bugs in opacity.transitions
    transform                  : translate3d(0, 0, 0); // Adds hardware acceleration
    -webkit-backface-visibility: hidden; // Helps prevent animation flickers
    -webkit-perspective        : 1000; // Helps prevent animation flickers
}
p, h1, h2, h3, h4, h5, h6, figure, blockquote {
    margin: 0 0 pxtorem(25px);
    font-weight: 400;
}

p.small {
    @include font-size(14px);
}

p.intro {
    color: $black;
    @include bp-md {
        @include font-size(32px);
        line-height: pxtorem(38px);
    }
}

img, figure {
    max-width: 100%;
    height: auto;
}
figure {
    img {
        margin-bottom: 15px;
    }
    figcaption {
        @include font-size(12px);
        line-height: pxtorem(14px);
    }

    @media (max-width: $breakpoint-md) {
        width: inherit !important;
    }
}
img:before {
    display         : block;
    content         : attr(alt);
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    border          : 1px solid;
    border-radius   : 3px;
    padding         : 5px 8px;
    background-color: #e6e6e6;
}

// Fixes stretching issues with IE 9-11
img[src*=".svg"] {
        width: 100%; 
}

table {
    max-width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border: none;

    tr {
        border-bottom: 1px solid $stroke;
    }

    th {
        border-bottom: 1px solid $stroke;
        padding-bottom: 20px;
        font-weight: 600;
        color: $dark-purple;
        @include font-size(24px);
        line-height: pxtorem(30px);

        @include bp-md {
            @include font-size(30px);
            line-height: pxtorem(40px);
        }

    }

    td, th {
        padding: 20px 10px;

        * {
            margin: 0;
        }
    }

    &.table--vertical-lines {
        tr {
            border: none;
        }

        td, th {
            padding: 20px 20px;

            @include bp-md {
                padding: 20px 40px;
            }
        }

        td {
            border-right: 1px solid $stroke;

            &:last-child {
                border-right: none;
            }
        }
    }

    &.table--grid {
        border: 1px solid $stroke;

        td, th {
            padding: 20px 20px;

            @include bp-md {
                padding: 20px 40px;
            }
        }

        td {
            border-right: 1px solid $stroke;

            &:last-child {
                border-right: none;
            }
        }

    }
}

.main {
    margin-top: 58px;
    margin-bottom: 58px;

    @include bp-md {
        margin-top: 90px;
        margin-bottom: 90px;
    }
}

.icon,
[class^="icon-"] {
    // Visually hide text inside icon classes
    font-size  : 0;
    line-height: 0;
    padding    : 0;
    border     : none;
    outline    : none;
    background : transparent;
  
    // But show the icon
    &:before {
        @include font-size(16px);
        color: currentColor;
    }
}
::selection {
    color: #fff;
    background: #e4e8e8; /* WebKit/Blink Browsers */
}
::-moz-selection {
    color: #fff;
    background: #e4e8e8; /* Gecko Browsers */
}

.swirl-container {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;

    @include bp-md {
        overflow: visible;
    }

    .page & {
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 100%;

        @include bp-md {
            margin: 0;
            padding: 0;
            overflow: hidden;
            width: 100%;
        }

        @include bp-lg {
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding-left: 0.9375rem;
            padding-right: 0.9375rem;
            width: 940px;
            overflow: visible;
        }

        @include bp-xl {
            width: 1250px;
        }
    }
}  

#skip-to-content {
	position  : fixed;
	top       : 0;
	left      : 0;
	padding   : 15px 23px 14px;
	color     : #fff;
	background: $highlight;
	z-index   : 100000;
	opacity   : 0;
	transform : translateY(-100%);

    &:focus, &:active {
		opacity: 1;
		transform: translateY(0);
	}
}

.wrap {
    &:focus {
        outline: none;
    }
}

.alert {
    margin-bottom: 20px;
}