/**
 * Utility Classes
 */
 .text-center {
	display: block;
	text-align: center;
}
.small {
    @include font-size(14px);
    line-height: pxtorem(22px);
}

.list-inline {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
	> li{
		display: inline-block;
		margin-bottom: inherit;
	}
}
.list-plain {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list-of-links {
	@extend .list-plain;

	li  {
		margin-bottom: 8px;
		& > a {
			@extend .arrow-link;
		}	
	}
}

.buffer { 
	margin-top: 40px;
}

.page-intro-offset {
    @include bp-lg {
        padding-right: 60px;
    }
}

.arrow-link {
    &:after {
        @include icon($icon-right-arrow);
        margin-left: 15px;
        vertical-align: -1px;
        font-size: 90%;
        transition: all 0.3s;
    }

    &:hover, &:focus {
       &:after {
           transform: translateX(2px);
       }
    }

    #main-content & {
        text-decoration: none;
    }
}

.img-bg {
	background-size: cover;
	background-position: center;
}

.section--dark-bg {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
        background: rgba(22,23,57,0.50);
        z-index: 1;
	}

	> * {
		position: relative;
		z-index: 1;
	}

	&.vc_section, &.vc_row {
		@extend .text-white;
		padding-top: 90px;
		padding-bottom: 65px;

		@include bp-md {
			padding-top: 150px;
			padding-bottom: 125px;
		}
	}	
}

.hide {
	display: none !important;
}
.js-show {
	display: none !important;
}
.no-js .js-show {
	display: block !important;
}
.js-hide {
	display: block !important;
}
.no-js .js-hide {
	display: none !important;
}


/**
 * Styling Classes
 */
.text-white {
	color: #fff;
	p, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}
a.text-white, .text-white a {
	color: #fff;
	text-decoration: underline;
	
	&:hover {
		color: #fff;
		opacity: 0.7;
	}
}
.bg-white {
	background-color: #fff;
}

.img-cover {
	// Imitate background-sive: contain; effect with inline images
	// Usage:
	// <div class="img-cover" style="width: 50px; height: 50px;">
	//	<img src="http://lorempixel.com/image_output/people-q-c-720-480-9.jpg">
	// </div>
	// IMPORTANT: Adopt height/width from element it's applied to
	position: relative;
	overflow: hidden;
	@include aspect-ratio(1,1);
	img {
		position: absolute;
		left: 50%;
		top: 50%;
		height: 100%;
		width: auto;
		max-width: none;
		transform: translate(-50%,-50%);
	}
	img.portrait {
		height: auto;
		width: 100%;
	}
}

.img-contain {
	// Imitate background-sive: contain; effect with inline images
	// Usage:
	// <div class="img-cover" style="width: 50px; height: 50px;">
	//	<img src="http://lorempixel.com/image_output/people-q-c-720-480-9.jpg">
	// </div>
	// IMPORTANT: Adopt height/width from element it's applied to
	position: relative;
	overflow: hidden;
	-webkit-mask-image:
	/* fix overflow:hidden bug in Chrome/Opera */ url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

	img {
		position: absolute;
		left: 50%;
		top: 50%;
		height: auto;
		width: 100%;
		transform: translate(-50%,-50%);
	}
	img.portrait {
		height: 100%;
		width: auto;
	}
}

.img-circle {
	// Extends .img-cover and adds border radius
	// Usage:
	// <div class="img-circle" style="width: 50px; height: 50px;">
	// <img src="http://lorempixel.com/image_output/people-q-c-720-480-9.jpg">
	// </div>
	// IMPORTANT: Adopt height/width from element it's applied to
	@extend .img-cover;
	border-radius: 50%;
	/* fixes overflow:hidden bug in Chrome/Opera */
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
	@include aspect-ratio(1, 1);
	img {
		/* fixes border radius bug in Chrome */
		-webkit-clip-path: circle(50%);
	}
}


// Split Divider
//
// A nice section divider
//
// Markup: <p class="split-divider">Split!</p>
//
// Styleguide Components.split-divider
.split-divider {
	display        : flex;
    align-items    : center;
    justify-content: center; // Centers for IE 9-11
	text-align     : center;

	&:before, &:after { 
		display      : block;
	    content      : "";
		flex-grow    : 1;
		min-width    : 5%;
		opacity      : 0.1;
	    border-bottom: 1px solid currentColor;
	}

	&:before {
    	margin-right: 15px;
	}

	&:after {
    	margin-left: 15px;
	}
}

// Underline
.underline {
	padding-bottom: 15px;
	border-bottom: 1px solid $dark-purple;
}

.overlay {
	position: relative;

	&:before {
		content   : "";
		position  : absolute;
		display   : block;
		top       : 0;
		left      : 0;
		width     : 100%;
		height    : 100%;
		background: rgba(42,42,44, 0.7);
	}

	> * {
		position: relative;
		z-index: 1;
	}
}

#main-content {
	// removes outline set from tabindex
	&:focus {
		outline: none;
	}
}

#main-content .anchor-links, .anchor-links {
	@extend .list-inline;
	padding-bottom: 5px;
	margin-bottom: 45px;
	border-bottom: 1px solid $stroke;

	li {
		display: block;

		@include bp-md {
			display: inline-block;
		}
	}

	a {
		@extend h5;
		line-height: pxtorem(30px);
		color: $black;
		margin-right: 40px;

		&:hover, &:focus {
			color: $highlight;
		}
	}
}

#main-content .tight-list {
	li {
		margin-bottom: 5px;
	}
}

#main-content, .masthead, .container  {
	a.download-link, a.external-link, a.arrow-link, a.circle-arrow-link {
		&:after {
			font-size: 75%;
			margin-left: 10px;
			color: $highlight;
		}

		&:hover, &:focus {
			color: $highlight;
		}
	}

	.download-link {
		&:after {
			@include icon('=');
		}
	}

	.external-link {
		&:after {
			@include icon('/');
		}
	}

	.arrow-link {
		&:after {
			@include icon('\3e');
			transition: all 0.3s;
		}

		&:hover, &:focus {
			&:after {
				transform: translateX(3px);
			}
		}
	}

	.circle-arrow-link {
		&:after {
			@include icon('}');
		}
	}

	h1, h2, h3, h4, h5, h6 {
		.circle-arrow-link {
			color: inherit;
			display: flex;
		    align-items: center;
		    justify-content: space-between;

			&:hover, &:focus {
				color: $orange;
			}

			&:after {
				color: $orange;
			}
		}
	}
}

// Target MS Edge to fix display error
@supports (-ms-ime-align: auto) {
	.circle-arrow-link, .arrow-link {
		display: block !important;
	}
}	
// Target IE 10 & 11 to fix display error
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.circle-arrow-link, .arrow-link {
		display: block !important;
	}
}

.visceral_quote_share {

	.social-container {
		text-align: right;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		span {
			display: inline-block;
			@include font-size(14px);
			line-height: pxtorem(16px);
			margin-right: 15px;
			text-transform: uppercase;
			color: $text2;
		}

	}

	button.link {
		height: 28px;
	    width: 28px;
	    margin-right: 10px;
	    margin-left: 0;
	    background: $text2;
	    color: #fff;
	    text-align: center;
	    border-radius: 50%;
	    transition: all 0.3s;

	    &:last-of-type {
	    	margin-right: 0;
	    }

	    &:hover, &:focus {
	    	background-color: $purple;
	    }
	}
}

.border-left {

 	@include bp-md {
 		border-left: 1px solid $stroke;
 		padding-left: 40px;
 	}
 	
 	&.border-purple {
 		border-color: $purple;
 	}
 }


/**
 * WordPress Core
 */
.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 8px auto 5px auto;
}
.alignright {
    float:right;
    margin: 8px 0 20px 35px;
}
.alignleft {
    float: left;
    margin: 8px 35px 20px 0;
}
a img.alignright {
    float: right;
    margin: 8px 0 20px 35px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float: left;
    margin: 8px 35px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}