@function pxtorem($size) {
	$remSize: $size / 16px;
	@return #{$remSize}rem;
}
@mixin font-size($size) {
	font-size: $size; //Fallback in px
	font-size: pxtorem($size);
}

// Maintain an aspect ratio
@mixin aspect-ratio($width, $height) {
	position: relative;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	> .content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

// Sets up icon mixin
@mixin icon($content: '') {
	content       : $content;
	font-family   : $icons;
	font-style    : normal;
	font-weight   : normal;
	text-transform: none;
	speak         : none;
	display       : inline-block;
	width         : 1em;
	line-height   : 1em;
	text-align    : center;
	text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Button
@mixin button($color: #FFF, $text-color: #FFF, $hover-color: darken($color, 15%)) {
	cursor          : pointer;
	border          : none;
	color           : $text-color;
	font-weight     : 600;
	text-align      : center;
	display         : inline-block;
	padding         : 15px 22px;
	margin-bottom   : 20px;
	margin-right    : 20px;
  border-radius   : 25px;
	min-width       : 180px;
	text-transform  : uppercase; 
	transition      : all 0.3s ease;
	background-color: $color;
	line-height     : pxtorem(19px);
	@include font-size(14px);
  // background-image: linear-gradient(57deg, $color 16%, $color 100%);
	
	&:hover, &:focus {
		opacity: 1;
		color  : #FFF;
		outline: none;
		border : none;
		background-color: $hover-color;
    // background-image: linear-gradient(57deg, $color 16%, lighten($color, 22%) 100%);
	}
}




// Media Queries
@mixin bp-sm {
  @media (min-width: #{$breakpoint-sm}) {
    @content;
  }
}
@mixin bp-md {
  @media (min-width: #{$breakpoint-md}) {
    @content;
  }
}
@mixin bp-lg {
  @media (min-width: #{$breakpoint-lg}) {
    @content;
  }
}
@mixin bp-xl {
  @media (min-width: #{$breakpoint-xl}) {
    @content;
  }
}

// Calculate linear interpolation: https://en.wikipedia.org/wiki/Linear_interpolation
@function calc-interpolation($min-screen, $min-value, $max-screen, $max-value) {
	// Concept is to calculate the value from the equation of a slope: y = mx + b
	// y = result
	// m = slope
	// x = viewport width (always 100)
	// b= y-intercept

	// Calculate the slope
	$slope: ($max-value - $min-value) / ($max-screen - $min-screen);
	
	// Get the y-intercept
	$intercept: $min-value - ($slope * $min-screen);

	// Determine whether we add or subtract the y-intercept. Sass cannot add negative numbers.
	$operator: "+";
	@if ($intercept < 0) {
		$operator: "-";
		$intercept: abs($intercept); 
	}
	$intercept: pxtorem($intercept);

	@return calc(#{$slope * 100}vw #{$operator} #{$intercept});
}
@mixin fluid-value($properties, $min-value, $max-value, $min-screen: $breakpoint-sm, $max-screen: $breakpoint-xl) {
  & {
    @each $property in $properties {
      #{$property}: pxtorem($min-value);
    }
    @media screen and (min-width: $min-screen) {
      @each $property in $properties {
        #{$property}: calc-interpolation($min-screen, $min-value, $max-screen, $max-value); 
      }
    }
    @media screen and (min-width: $max-screen) {
      @each $property in $properties {
        #{$property}: pxtorem($max-value);
      }
    }
  }
}
