p {
    @include bp-md {
        line-height: pxtorem(32px);
    }
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: $font1;
    font-weight: 400;
    color: $dark-purple;

    a {
        color: $dark-purple;

        &:hover, &:focus {
            color: darken($dark-purple, 15%);
        }
    }
}
h1, .h1 {
    // @include fluid-value(font-size, 40px, 50px);
    // @include fluid-value(line-height, 42px, 42px);
    @include font-size(30px);
    line-height: pxtorem(38px);

    @include bp-md {
        @include font-size(48px);
        line-height: pxtorem(72px);
    }
}
h2, .h2 {
    // @include fluid-value(font-size, 36px, 46px);
    // @include fluid-value(line-height, 32px, 48px);
    font-weight: 600;
    @include font-size(28px);
    line-height: pxtorem(36px);

    @include bp-md {
        @include font-size(36px);
        line-height: pxtorem(42px);
    }
}
h3, .h3 {
    // @include fluid-value(font-size, 32px, 36px);
    // @include fluid-value(line-height, 32px, 34px);
    color: $black;
    font-weight: 300;
    @include font-size(26px);
    line-height: pxtorem(32px);

    @include bp-md {
        @include font-size(32px);
        line-height: pxtorem(38px);
    }
}
h4, .h4 {
    font-weight: 600;
    @include font-size(24px);
    line-height: pxtorem(30px);

    @include bp-md {
        @include font-size(30px);
        line-height: pxtorem(40px);
    }
}
h5, .h5 {
    @include font-size(20px);
    line-height: pxtorem(26px);

    @include bp-md {
        @include font-size(24px);
        line-height: pxtorem(32px);
    }
}
h6, .h6 {
    text-transform: uppercase;
    @include font-size(16px);
    line-height: pxtorem(20px);

    @include bp-md {
        @include font-size(18px);
        line-height: pxtorem(26px);
    }
}

// links
a {
    color          : $highlight;
    word-break     : break-word;
    text-decoration: none;
    transition     : color 0.3s ease, opacity 0.3s ease;
    will-change    : color, opacity;

    &:hover, &:focus {
        color: darken( $highlight, 7% );
        text-decoration: none;
    }
}

#main-content {
    p, ul, ol, table {
        a {
            text-decoration: underline;
        }
    }
} 

// lists
.main ul:not(.list-inline):not(.list-unstyled) {
    margin-top: 1em;

    ul {
        margin-top: 1em;
    }
}

ul {
    @include bp-md {
        line-height: pxtorem(30px);
        @include font-size(20px);
    }

    .wpb_content_element & { // only override default list-style if this is within a basic text block
        list-style: none;
        padding-left: 20px;

        li {
            padding-left: 40px;
            margin-bottom: 4px;
    
            &:before {
                content     : '•';
                color       : $purple;
                margin-left : -30px;
                margin-right:  18px;
            }
        }
    }

    .text-white & {
        li:before {
            color: white;
        }
    }

    .main & {
        padding-left: 20px;

        li {
            margin-bottom: 10px;
        }

        ul {
            padding-left: 50px;
        }
    }
}

ol {
    @include bp-md {
        line-height: pxtorem(30px);
        @include font-size(20px);
    }

    li {
        margin-bottom: 4px;
    }

    .main & {
        padding-left: 20px;

        li {
            margin-bottom: 10px;
        }
    }
}


// quotes
blockquote {
    padding: 25px;
    color: $dark-purple;
    font-weight: 400;
    font-style: italic;
    line-height: pxtorem(34px);
    @include font-size(28px);

    @include bp-md {
        line-height: pxtorem(44px);
        @include font-size(36px);
    }

    @include bp-md {
        padding: 50px;
    }

    &:before {
        @include icon($icon-quote);
        color       : $orange;
        margin-right: 15px;
        display     : block;
        margin-bottom: 32px;
        @include font-size(58px);
    }

    > p { // page builder wraps blockquote content
        color: $dark-purple;
        font-weight: 400;
        font-style: italic;
        line-height: pxtorem(44px);
        @include font-size(36px);

        @include bp-md {
            line-height: pxtorem(34px);
            @include font-size(28px);
        }
    }
}


// modifiers
h1.entry-title, h1.page-title {
    // diagnose broken fluid-value mixin
    // @include fluid-value(font-size, 32px, 64px);
    // @include fluid-value(line-height, 38px, 72px);
    
    @include font-size(32px);
    line-height: pxtorem(38px);

    @include bp-md {
        @include font-size(48px);
        line-height: pxtorem(60px);
    }

    @include bp-lg {
        @include font-size(64px);
        line-height: pxtorem(72px);
    }


}


.cite {
    color: $gray;
    font-weight: 700;
    line-height: pxtorem(20px);
    @include font-size(14px);
}

.link--icon {
    display: block;

    &:after {
        content    : $icon-right-arrow;
        margin-left: 15px;
        font-family: $icomoon-font-family;
        transition : margin-left 0.3s; 
        @include font-size(14px);
    }

    &:hover {
        &:after {
            margin-left: 18px;
        }
    }
    #main-content & {
        text-decoration: none;
    }
}