// Fonts
$font1: 'Nunito Sans', sans-serif;
// $font2: 'fontname', sans-serif;
$icons: 'icons';

// Colors
$black            : #231F20;
$dark-gray        : #535353;
$gray             : #A7A8AA;
$light-gray       : #D9DADC;
$lightest-gray    : #F8F8F8;

// Primary
$super-dark-purple: #161739;
$dark-purple      : #2d2c7c;
$blue             : #409ac0;

// Secondary
$orange           : #e07f26;
$dark-orange      : #CD562C;
$purple           : #5a4999;
$magenta          : #8A2D6B;

// Tertiary
$dark-green       : #538349;
$light-green      : #96AE3C;
$yellow           : #FDB73D;

$text1            : $dark-gray;
$text2            : $black;
$highlight        : $orange;
$stroke           : $light-gray;

$facebook         : #3b5998;
$twitter          : #1da1f2;
$linkedin         : #0077b5;
$youtube          : #cd201f;
$googleplus       : #dd4b39;

// Breakpoints
$breakpoint-sm    : 568px;
$breakpoint-md    : 768px;
$breakpoint-lg    : 1024px;
$breakpoint-xl    : 1280px;

// Slick Carousel font path
$slick-font-path: "~slick-carousel/slick/fonts/";

// Slick Carousel ajax-loader.gif path
$slick-loader-path: "~slick-carousel/slick/";