// Not sure what this was for but it was causing issues :)
// .wrap.container {
//     @include bp-xl {
//         width: 1250px;
//     }
// }

// Carbo Grid
@media (min-width: 75rem) {
    .container {
        width: 1250px;
    }
}

// Wp Bakery / VC

.vc-author-blockquote {
    // a quote icon
    &__quote-icon {
        display: flex;
        align-items: center;
        justify-content: center; // Centers for IE 9-11
        text-align: center;
        margin-bottom: 10px;

        @include bp-md {
            margin-bottom: 30px;
        }

        &:before,
        &:after {
            display: block;
            content: "";
            flex-grow: 1;
            min-width: 5%;
            border-bottom: 1px solid $light-gray;
        }

        &:before {
            margin-right: 25px;
        }

        &:after {
            margin-left: 25px;
        }

        i {
            display: inline-block;
            width: 50px;
            height: 35px;
            line-height: 40px;

            @include bp-md {
                width: 75px;
                height: 50px;
                line-height: 60px;
            }

            &:before {
                color: $orange;
                margin-right: 15px;
                display: block;
                @include font-size(40px);

                @include bp-md {
                    @include font-size(58px);
                }
            }
        }
    }

    &__quote {
        margin-top: 35px;

        @include bp-md {
            margin-top: 55px;
        }

        &:before {
            display: none;
        }
    }

    &__author {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-weight: 600;
            margin-bottom: 0;
            text-align: left;
            max-width: 65%;
            line-height: pxtorem(16px);
            @include font-size(14px);
        }
    }

    &__author-image {
        img {
            width: 75px;
            height: 75px;
            border-radius: 50%;
            margin: 0;
            margin-right: 30px;
        }
    }

    .visceral-slider & {
        .vc-author-blockquote__quote,
        .vc-author-blockquote__author {
            @include bp-md {
                padding-left: 15%;
                padding-right: 15%;
            }
        }
    }
}

// Slick slider

.slick-prev,
.slick-next {
    z-index: 1;
    transition: all 0.3s;
    opacity: 0;
    width: 40px;
    height: 40px;
    display: none !important;

    @include bp-md {
        display: inline-block !important;
    }

    &:focus {
        opacity: 0;
    }

    &:before {
        margin-bottom: 0;
        font-family: "icons";
        font-weight: 100;
        color: $light-gray;
        content: $icon-circle-chevron-right;
        font-size: 40px;
    }
}

.slick-next {
    transform: translate(20px, -50%);
}

.slick-prev {
    transform-origin: center;
    transform: translate(-20px, -50%) rotate(180deg);
}

.slick-slider {
    &:hover {
        .slick-prev,
        .slick-next {
            opacity: 1;

            &:focus {
                opacity: 1;
            }
        }

        .slick-prev {
            transform: translate(0, -50%) rotate(180deg);
        }

        .slick-next {
            transform: translate(0, -50%);
        }
    }

    .slick-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}

.slick-dots {
    li {
        &:before {
            display: none;
        }
    }
}

// Tweets
#ctf {
    .ctf-item {
        border-top: none;
    }
}

// Ajax Load More
#main-content .ajax-load-more-wrap {
    .alm-listing {
        .alm-reveal {
            display: flex;
            flex-wrap: wrap;
            margin-left: -0.9375rem;
            margin-right: -0.9375rem;
        }
    }

    .alm-btn-wrap .alm-load-more-btn {
        &.loading:before {
            width: 10px;
            height: 10px;
            margin: 0;
            margin-right: 5px;
            border-radius: 50%;
            position: static;
            background: none !important;
        }

        &.done {
            display: none;
        }
    }
}

#main-content .alm-btn-wrap .alm-load-more-btn {
    @extend .btn;
    height: inherit;
}

// YT Player

.YTPOverlay {
    display: none !important;
}

// YT Player
#wrapper_bgndVideo {
    top: -75px !important;
    bottom: 0 !important;
}

// Gravity Forms
.gform_wrapper {
    .gform_field {
        padding-left: 0;
    }

    .gfield_required {
        color: $orange;
    }

    input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not(
            [type="button"]
        ):not([type="image"]):not([type="file"]) {
        @include bp-md {
            padding: 14px;
        }
    }

    .gform_footer input[type="submit"] {
        font-size: 14px !important;
    }

    select,
    &.gf_browser_chrome select {
        padding: 13px;
    }

    &.gf_browser_ie {
        .gform_footer input[type="submit"] {
            padding: 15px 22px !important;
        }
    }
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type="checkbox"],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type="radio"] {
    margin-top: 0;
}

// Tweet Lab
.mgl_twitter {
    .bx-wrapper .bx-pager {
        bottom: -50px !important;
        &.bx-default-pager {
            a {
                background-color: $gray;
                height: 3px;
                border-radius: 0;
                width: 35px;

                &.active,
                &:hover {
                    background-color: $yellow;
                }
            }
        }
    }

    .mgl_tweet {
        height: auto !important;
        &.mgl_tweet_with_avatar {
            padding-left: 0 !important;

            .mgl_tweet_avatar {
                display: none !important;
            }

            @include bp-md {
                padding-left: 93px !important;

                .mgl_tweet_avatar {
                    display: block !important;
                }
            }
        }
    }

    .mgl_tweet_text,
    .mgl_tweet_name {
        font-size: 22px !important;
        line-height: 22px !important;
        color: $black;

        a {
            color: $blue !important;
            text-decoration: none;
        }

        strong {
            font-size: 22px !important;
            line-height: 22px !important;
        }
    }

    .mgl_tweet_user {
        a {
            font-size: 22px !important;
            line-height: 22px !important;
        }
    }

    .mgl_twitter_mask {
        display: none !important;
    }
}

// MailChimp

#mc_embed_signup {
    .indicates-required {
        text-align: right;
        @include font-size(14px);
    }

    .asterisk {
        color: $highlight;
    }

    label {
        font-weight: bold;
        margin-bottom: 13px;
    }

    input {
        margin-bottom: 25px;

        &.mce_inline_error {
            border-color: #e66767;
        }
    }

    .response {
        padding: 15px 20px;
        margin-bottom: 25px;
        border-radius: 6px;
        background: $lightest-gray;
        border: 1px solid $light-gray;

        &#mce-success-response {
            background: #ccffb4;
            border: 1px solid #bae6a5;
        }
    }

    .mce_inline_error {
        background-color: #e66767;
        border: 1px solid #944040;
    }
}

// Notification Bar
.mtsnb .mtsnb-button {
    @extend .btn;
    @extend .btn--purple;

    margin-bottom: 0 !important;

    @media (max-width: $breakpoint-lg) {
        padding: 0 15px;
        @include font-size(10px);
        line-height: pxtorem(24px);
        letter-spacing: 0.25px;
        min-width: unset;
    }
}

.has-mtsnb-shown #mobile-nav {
    top: 48px;
}

.has-mtsnb-shown {
    .header {
        top: 76px;
    }
    .mobile-nav__icon {
        top: 84px;
    }
}

@media only screen and (min-width: 39.375em) {
    .has-mtsnb-shown {
        .header {
            top: 48px;
        }
        .mobile-nav__icon {
            top: 56px;
        }
    }
}

// Popup Maker
.pum-theme-3001 .pum-container,
.pum-theme-lightbox .pum-container {
    border: none !important;
    border-radius: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;

    .wpb_text_column {
        padding: 50px;
        background-image: url("../images/tcc-grp-newsletter-bg.png") !important;
        background-color: $orange !important;
        background-repeat: no-repeat;
        background-position: left;
        text-align: center !important;

        h2 {
            @include font-size(24px);
            line-height: pxtorem(24px);
            font-weight: 400 !important;

            @include bp-md {
                @include font-size(42px);
                line-height: pxtorem(42px);
            }
        }
    }

    .gform_wrapper {
        padding: 0 45px;

        .gform_footer {
            text-align: center !important;

            img,
            svg {
                max-width: 30px;
            }
        }
    }

    form {
        input {
            margin-bottom: 0 !important;
        }

        label {
            font-size: 16px !important;
            margin-bottom: 0 !important;
        }

        ul li.gfield {
            margin-top: 8px !important;
        }

        .top_label li ul.gfield_checkbox {
            @include bp-md {
                column-count: 2;
            }
        }

        ul.gfield_checkbox li,
        ul.gfield_radio li {
            display: flex !important;
            align-items: flex-start;
            gap: 8px;

            label {
                font-size: 16px;
            }
        }

        .gfield_checkbox li input[type="checkbox"],
        .gfield_radio li input[type="radio"] {
            margin-top: 5px !important;
        }
    }
}

.pum-theme-3001 .pum-content + .pum-close,
.pum-theme-lightbox .pum-content + .pum-close {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    right: 12px !important;
    top: 12px !important;
    height: 36px !important;
    width: 36px !important;
    font-size: 36px !important;
}

@media only screen and (min-width: 1024px) {
    .pum-container.pum-responsive.pum-responsive-small {
        margin-left: -22%;
        width: 44%;
    }
}
