@media print {
	h1,	h2,	h3,	h4,	h5,	h6 {
		page-break-after: avoid; // Prevent headings from being printed at the bottom of the page
	}
	img {
	    page-break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
	    page-break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
	    page-break-inside: avoid; /* or 'auto' */
	}
	.no-print {
		display: none;
	}
	.text-white, h1, h2, h3, h4, h5, h6, p, span {
		color: #000 !important;
	}
	a {
		color: $highlight !important;
	}
	.full-width {
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding-left: 0;
		padding-right: 0;
	}

	main {
		max-width: 100%;
		word-break: break-word;
	}

	.img-cover, .img-circle, .img-contain {
		&:before {
			display: none !important;
		}
		img {
			position: relative !important;
			width: inherit !important;
			height: inherit !important;
		    transform: translate(0) !important;
			left: 0;
		}
		.content {
			position: relative !important;
		}
	}
	header.header {
        position: relative !important;
        background-color: transparent !important;
        box-shadow: none !important;
	}
	header.header svg path {
		fill: #000 !important;
	}
	.masthead {
		position: relative;
		display: block !important;
		min-height: 0;
        padding: 0;
    }
    
    .reveal {
        opacity: 1 !important;
        transform: none !important;
	}

	.row {
		display: block;
	}
    
    .swirl-container {
        display: none !important;
    }
    
	.list-item-service,
	.list-item-card {
		width: 33%;
		float: left;
		display: block !important;

		.list-item-service__content {
			display: block;
			transform: none;
		}
	}

	.single-resource-content__main-image,
	.list-item__image img {
		width: 25% !important;
	}

	.list-item-card__image img {
		width: 100% !important;
	}

	.vc_toggle_content {
		display: block !important;
	}

	.footer {
		clear: both;
	}
}
